

<app-employee-sidebar></app-employee-sidebar>
<app-top-menu></app-top-menu>

<div class="content">
  

    <div class="content-wrapper">
    <div class="row">
      <h2><strong>Tickets</strong></h2>
      <hr>
      
      <!-- Column for Dynamic Content -->

      <div class="col-md-9">

        <img src="../../../assets/images/Group 16.svg" style="margin-top: 150px;" width="250" height="250">
        <div>
        <div class="imageTexts">
        <p style="margin-left: 20px; margin-top: 10px;">Hey Username</p><span class="form-header" style="margin-top: -25px;"><i>You do not have any tickets</i></span></div>
      </div>

      </div>
      <div class="col-2">
        
        <form [formGroup]="ticketForm">
          <span class="header"><strong>Create Quick Ticket</strong></span><br>
          <span class="form-header">Write and address new queries and issues</span>
          <hr/>
          <fieldset>
            <label for="email" class="input-fields">Company Email</label>
            <input type="email" id="mail" name="user_email" formControlName="email" placeholder="Type Email">

            <!--Validations-->
            <div
            *ngIf="new_ticket['email'].invalid && (new_ticket['email'].dirty || new_ticket['email'].touched)"
            class="alert alert-danger" >  
            <span *ngIf="new_ticket['email'].errors?.['required']" style="color:#f98f8f">Email is required</span>
              <span *ngIf="new_ticket['email'].errors?.['email']" style="color:#f98f8f">Please enter valid email</span>
            </div>
             <!--End Of Validations-->

          </fieldset>
          <fieldset>
            <label>Request Ticket Type</label>
            <select id="type" name="" formControlName="type">
              <option value="Default">Choose Type</option>
              <option value="Type 1">Type A</option>
              <option value="Type 2">Type B</option>
            </select>

            <!--Validations-->
            <div
            *ngIf="new_ticket['type'].invalid && (new_ticket['type'].dirty || new_ticket['type'].touched)"
            class="alert alert-danger" >  
            <span *ngIf="new_ticket['type'].errors?.['required']" style="color:#f98f8f">Please select ticket type</span>
            </div>
             <!--End Of Validations-->

            <label>Priority Status</label>
            <select id="status" name="" formControlName="priority_status">
              <option value="Default">Select Status</option>
               <option value="Type 1">Type A</option>
              <option value="Type 2">Type B</option>
            </select>

             <!--Validations-->
             <div
             *ngIf="new_ticket['priority_status'].invalid && (new_ticket['priority_status'].dirty || new_ticket['priority_status'].touched)"
             class="alert alert-danger" >  
             <span *ngIf="new_ticket['priority_status'].errors?.['required']" style="color:#f98f8f">Please choose status</span>
             </div>
              <!--End Of Validations-->

          </fieldset>
          <fieldset>
            <label>Ticket Body</label>
            <textarea formControlName="ticketBody" id="ticketbody" placeholder="Type ticket issue here.."></textarea>

            <!--Validations-->
            <div
            *ngIf="new_ticket['ticketBody'].invalid && (new_ticket['ticketBody'].dirty || new_ticket['ticketBody'].touched)"
            class="alert alert-danger" >  
            <span *ngIf="new_ticket['ticketBody'].errors?.['required']" style="color:#f98f8f">Ticket issue is required</span>
            </div>
             <!--End Of Validations-->

          </fieldset>
          <button type="submit" [disabled]="ticketForm.invalid">Submit</button>
        </form>
      </div>

     </div>
  </div>
</div>

