<app-sidebar></app-sidebar>
<app-employee-top-menu></app-employee-top-menu> 

<div class="content">

  <div class="content-wrapper">
            <h2><strong>Settings</strong></h2>
        <hr/>
     <div class="row">

        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">

                  <h6 class="card-title"><strong>Account</strong></h6>
                  <hr/>
             <ul class="settings-menu">
                <li><a  class="card-text" (click)="toggleForms('form1')"><img src="assets/images/iconamoon_profile-light.svg" > Edit Profile</a></li>
                <li><a  class="card-text" (click)="toggleForms('form2')"><img src="assets/images/material-symbols_privacy-tip-outline.svg" > Security</a></li>
                <li><a  class="card-text" (click)="toggleForms('form3')"><img src="assets/images/iconamoon_notification.svg"  > Notifications</a></li>
                <li><a  class="card-text"(click)="toggleForms('form4')"><img src="assets/images/ic_outline-lock.svg"  > Privacy</a></li>
                <li><a  class="card-text" (click)="toggleForms('form5')"><img src="assets/images/iconamoon_profile-light.svg"  > Agents & Employees </a></li>
                <li><a  class="card-text" routerLink="/more-settings"><img src="../../assets/images/Gear2.svg" width="29" height="29" > More Settings </a></li>
            </ul>
         </div>
         </div>
         </div>

        <div class="col-7">
            
          <!--Profile details form-->
          
          
            <form [formGroup]="profileForm" *ngIf="currentForm === 'form1'" >
               
                <fieldset>
              
                  <label for="firstName" >First Name</label>
                  <input type="text" id="name" name="user_name" formControlName="firstName" placeholder="">
                  <div
                  *ngIf="profile['firstName'].invalid && (profile['firstName'].dirty || profile['firstName'].touched)"
                  class="alert alert-danger" >
                  <span *ngIf="profile['firstName'].errors?.['required']" >First name is required</span>
                  <span *ngIf="profile['firstName'].errors?.['containsNumbers']">Please enter valid First name</span>
                   </div>

                   <label for="lastName" >Last Name</label>
                   <input type="text" id="lastName" name="lastName" formControlName="lastName" placeholder="">
                   <div
                   *ngIf="profile['lastName'].invalid && (profile['lastName'].dirty || profile['lastName'].touched)"
                   class="alert alert-danger" >
                   <span *ngIf="profile['lastName'].errors?.['required']" >Full name is required</span>
                   <span *ngIf="profile['lastName'].errors?.['containsNumbers']">Please enter valid Full name</span>
                    </div>

                   <label for="email" class="input-fields">Email</label>
                  <input type="email" id="mail" name="user_email" formControlName="email" placeholder="Company Email">
                  <div
                  *ngIf="profile['email'].invalid && (profile['email'].dirty || profile['email'].touched)"
                  class="alert alert-danger">
                  <span *ngIf="profile['email'].errors?.['required']">Email is required</span>
                  <span *ngIf="profile['email'].errors?.['email']">Please enter valid email</span>
                   </div>
                   <label for="Department" class="input-fields">Department</label>
                   <input type="text" id="mail" name="user_email" formControlName="Department" placeholder="Department">
                   <div
                   *ngIf="profile['Department'].invalid && (profile['Department'].dirty || profile['Department'].touched)"
                   class="alert alert-danger">
                   <span *ngIf="profile['Department'].errors?.['required']">Department is required</span>
                   <span *ngIf="profile['Department'].errors?.['containsNumbers']">Please enter valid Department</span>
                    </div>

                   <!--
                    <label for="dob" class="input-fields">Date Of Birth</label>
                    <div class="dateInput">
                        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date" >
                        <mat-datepicker-toggle matSuffix [for]="picker" class="date-picker"></mat-datepicker-toggle>
                      </div>
                      <mat-datepicker #picker panelClass="datepickerTwo"></mat-datepicker>
                      <div
                      *ngIf="profile['dob'].invalid && (profile['dob'].dirty || profile['dob'].touched)"
                      class="alert alert-danger">
                      <span *ngIf="profile['dob'].errors?.['required']" >Expiry date is required</span>
                      </div>

                    <label for="country" class="input-fields">Country</label>
                   <input type="text" id="country" name="user_country" formControlName="country">
                   <div
                   *ngIf="profile['country'].invalid && (profile['country'].dirty || profile['country'].touched)"
                   class="alert alert-danger">
                   <span *ngIf="profile['country'].errors?.['required']" >Country is required</span>
                    </div>-->
                </fieldset>
                <label for="country" class="input-fields"> Profile Image</label>

                <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)"/>
              
                <button type="button" class="attachButton" type="file" (click)="fileInput.click()">
                  Choose File
                </button>  
                <div *ngIf="selectedFileName" style="display: inline-block; margin-left: 10px;">
                  {{ selectedFileName }}
                </div>
                <button type="submit" class="nextButton" [disabled]="profileForm.invalid" (click)="updateProfile()" >
                  <span *ngIf="!showSpinner">Save changes</span>
                  <div *ngIf="showSpinner" class="spinner"></div>
                </button>
                
                    <!-- Display Message -->
             <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
              {{ alertMessage }}
          </div>
                                
            </form>
          

            <!--End Of Profile details form-->

            <!--Change password Form-->
            <form [formGroup]="passwordForm" *ngIf="currentForm === 'form2'" (ngSubmit)="resetPassword()">
               
              <fieldset>
            
               
                 
                 <label for="old_password" class="input-fields">Old Password</label>
                 <input type="password" id="password" name="user_password" formControlName="old_password">
                 <div
                 *ngIf="password['old_password'].invalid && (password['old_password'].dirty || password['old_password'].touched)"
                 >
                 <div *ngIf="password['old_password'].errors?.['required']" class="alert alert-danger" >Old password is required</div>
                 <div *ngIf="password['old_password'].errors?.['minlength']" class="alert alert-danger" >Password must be at least 8 characters long.</div>
                 <div *ngIf="password['old_password'].errors?.['maxlength']" class="alert alert-danger" >Password must be less then 12 characters long.</div>

                  </div>

                  <label for="new_password" class="input-fields">New Password</label>
                  <input type="password" id="password" name="user_password" formControlName="new_password">
                  <div
                  *ngIf="password['new_password'].invalid && (password['new_password'].dirty || password['new_password'].touched)"
                  class="alert alert-danger">
                  <span *ngIf="password['new_password'].errors?.['required']" >New password is required</span>
                  <div *ngIf="password['new_password'].errors?.['minlength']" >Password must be at least 8 characters long.</div>
                  <div *ngIf="password['new_password'].errors?.['maxlength']"  >Password must be less then 12 characters long.</div>
 
                
                </div>

                   <label for="confirm_password" class="input-fields">Confirm Password</label>
                   <input type="password" id="password" name="user_password" formControlName="confirm_password">
                   <div
                   *ngIf="password['confirm_password'].invalid && (password['confirm_password'].dirty || password['confirm_password'].touched)"
                   class="alert alert-danger">
                   <span *ngIf="password['confirm_password'].getError('required')" >Please confirm your password</span>
                   <span *ngIf="password['confirm_password'].errors?.['MustMatch']" >Password does not match</span>

                    </div>
                    

               
              </fieldset>
              
               
             
              <button type="submit" class="nextButton" [disabled]="passwordForm.invalid">
                <span *ngIf="!showSpinner">Save Password</span>
                <div *ngIf="showSpinner" class="spinner"></div>
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
                <div *ngIf="showAlert" [ngClass]="alertType === 'success' ? 'alert alert-success' : 'alert alert-danger'">
                  {{ alertMessage }}
                </div>
              
          </form>
             

           <!--End Of Change password Form-->


          <!--Add User/Employee form-->

          
                 <!--Privacy-->
                 <div *ngIf="currentForm === 'form4'">
                    <div class="card shadow">
                        <div class="card-body">

                    <h6 class="card-title" id="top">Privacy</h6>

                    <hr>
    
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>

                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>
    
                    </ol>
    
    
                        </div>
                    </div>
                </div>

                <!--Agents-->
                <div *ngIf="currentForm === 'form5'">
                  <div class="card shadow">
                    <div class="card-body">
                      <div class="top-menu2">
                        <nav>
                          <ul>
                            <li id="first"><a (click)="toggleForms('form5')" class="agents">Agents</a></li>
                            <li><a (click)="toggleForms('form6')" style="margin-left: 35px;">Employees</a></li>
                            <li class="form-li">
                              <div class="search-input">
                                <input type="text" placeholder="Search Agents" style="padding-left: 50px;" [(ngModel)]="searchQuery" (input)="performSearchAgent()">
                                <label for="search" class="search-icon">
                                  <img src="../../assets/images/search.svg" alt="Search Icon">
                                </label>
                              </div>
                            </li>
                            <li class="form-li">
                              <button class="addButton" (click)="toggleAddForms()">
                                <img src="../../../assets/images/UserPlus.svg">
                                Add
                              </button>
                            </li>
                            <app-user-employee *ngIf="addVisible" (close)="addVisible = false"></app-user-employee>
                          </ul>
                        </nav>
                      </div>
                      <h5 class="top"><strong>Agents</strong></h5>
                      <hr>
                      <table>
                        <thead>
                          <tr>
                            <th class="table-corners-first">Name</th>
                            <th>Department</th>
                            <th class="">Status</th>
                            <th class="table-corners-last">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let agent of agents">
                            <td><a [routerLink]="['/view-agents', agent.accountId]">{{ agent.fullName }}</a></td>

                            <td>{{ agent.position }}</td>
                            <td><span class="active-status">{{ agent.statusAgent }}</span></td>
                            <td>
                              <!--Disabling the Agent-->
                              <div class="button-container">
                                <div class="dropdown" [ngClass]="{ 'open': isDropdownOpen[agents.indexOf(agent)] }">
                                  <button class="cancel" (click)="toggleDropdown(agent)" [disabled]="isConfirmingDeactivation">
                                    <span *ngIf="!agent.showSpinner">{{ agent.buttonText }}</span>
                                    <span *ngIf="agent.showSpinner" class="spinner-container">
                                      <div *ngIf="showSpinner" class="spinner">
                                        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
                                      </div>
                                    </span>
                                  </button>
                                  <div class="dropdown-content">
                                    <span>Are you sure you want to <strong>{{ agent.statusAgent === 'Active' ? 'Disable' : 'Enable' }}?</strong></span>
                                    <hr>
                                    <div class="row">
                                      <div class="col">
                                        <button (click)="confirmDeactivation(agent)">Yes</button>
                                      </div>
                                      <div class="col">
                                        <button (click)="closeDropdown(agent)">No</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                
        <div  *ngIf="currentForm === 'form3'">
        <div class="card shadow">
            <div class="card-body">
              <h6 class="card-title">Notifications</h6>
            <hr>

            <ol>
              <!--Email Alerts-->
                <div>
                  <h6 class="card-title">Email Alerts</h6>

                  <div class="row">
                    <div class="col">
                  <span class="form-header" style="margin-top: 10px;">Ticket Notification:</span><br>
                  <span class="form-header">Ticket Closure: </span><br>
                  <span class="form-header">Ticket Response:</span><br>
                  </div>

                <div class="col">
                  <span class="form-header pointer" (click)="toggleState(0)">{{ buttonTexts[0] }}</span><br>
                  <span class="form-header pointer" (click)="toggleState(1)">{{ buttonTexts[1] }}</span><br>
                  <span class="form-header pointer" (click)="toggleState(2)">{{ buttonTexts[2] }}</span><br>

                </div>
                </div>
                </div>
               <!--End Of Email Alerts-->

            <!--Updates Alerts-->
            <div style="margin-top: 15px;">
              <h6 class="card-title">Updates Alerts</h6>
              <div class="row">
                <div class="col">
              <span class="form-header" style="margin-top: 10px;">Default (notifications on)</span><br>
            
              </div>

            <div class="col">
              <span class="form-header pointer" (click)="toggleState(3)">{{ buttonTexts[3] }}</span><br>
        
            </div>
            </div>
            </div>
           <!--End Of Updates Alerts-->

           
            <!--Updates Alerts-->
            <div style="margin-top: 15px;">
              <h6 class="card-title">Account Changes</h6>
              <div class="row">
                <div class="col">
              <span class="form-header" style="margin-top: 10px;">Default (notifications on)</span><br>
              <span class="form-header">Profile Changes:</span><br>
              <span class="form-header">Password Changes:</span><br>
              <span class="form-header">Privacy Changes:</span><br>


            
              </div>

            <div class="col">
              <span class="form-header pointer" (click)="toggleState(4)">{{ buttonTexts[4] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(5)">{{ buttonTexts[5] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(6)">{{ buttonTexts[6] }}</span><br>
              <span class="form-header pointer" (click)="toggleState(7)">{{ buttonTexts[7] }}</span><br>
            </div>
            </div>
            </div>
           <!--End Of Updates Alerts-->

                <button class="closeButton" (click)="restoreToDefault()">Restore to default</button>

            </ol>

          </div>
        </div>
    </div>

            <!--Employess-->
            <div  *ngIf="currentForm === 'form6'" >
              <div class="card shadow">
                <div class="card-body">
            <div class="top-menu2">
                <nav>
                  <ul>
                    <li id="first" ><a (click)="toggleForms('form5')">Agents</a></li>
                    <li ><a  (click)="toggleForms('form6')"  class="employees" >Employees</a></li>
                    <li class="form-li">
                      <div class="search-input">
                          <input type="text" placeholder="Search Employees" style="padding-left: 50px;"[(ngModel)]="searchQuery" (input)="performSearchUser()">
                          <label for="search" class="search-icon">
                              <img src="../../assets/images/search.svg" alt="Search Icon">
                          </label>
                      </div>
                  </li>
                  
                  
                  <li class="form-li">
                    <button class="addButton" (click)="toggleAddForms()">
                        <img src="../../../assets/images/UserPlus.svg">                      
                        Add
                    </button>
                </li>
                <app-user-employee *ngIf="addVisible" (close)="addVisible = false"></app-user-employee>
                
                  </ul>
                </nav>

                <hr>
                
              </div>
            <h5 class="top"><strong>Employees</strong></h5>
            <hr>

          
<table>
    <thead>
        <tr>
            <th class="table-corners-first">Name</th>
            <th>Department </th>
            

            
            <th>Status</th>

            <th class="table-corners-last">Action</th>

        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td><a [routerLink]="['/view-employee',user.accountId]">{{ user.fullName }}</a></td>
        <td>{{ user.position}}</td>
        <td><span class="active-status">{{ user.statusAgent }}</span></td>
    
        <td>
            <!--Disabling the User-->
            <div class="button-container">
                <div class="dropdown" [ngClass]="{ 'open': isDropdownOpen[users.indexOf(user)] }">
                    <button class="cancel" (click)="toggleDropdown1(user)" [disabled]="isConfirmingDeactivation">
                        <span *ngIf="!user.showSpinner">{{ user.buttonText }}</span>
                        <span *ngIf="user.showSpinner" class="spinner-container">
                          <div *ngIf="showSpinner" class="spinner">
                          <div class="ripples buttonRipples"><span class="ripplesCircle">
                            </span>
                          </div>
                          </div>
                        </span>
                    </button>
    
                    <div class="dropdown-content">
                        <span>Are you sure you want to <strong>{{ user.statusAgent === 'Active' ? 'Disable' : 'Enable' }}?</strong></span>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button (click)="confirmDeactivation2(user)">Yes</button>
                            </div>
                            <div class="col">
                                <button (click)="closeDropdown1(user)">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    
    </tbody>
</table>

         </div>
         
        
                </div>
     

      


    </div>

       
      </div>
     
      </div>

    
  </div>
  </div>