.notification {
    position: fixed;
    margin-bottom: 200px;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    animation: slideIn 0.5s ease-out forwards;
    border-radius: 4px;
    width: 450px;
    z-index: 1;
    height: auto;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .nextButton
  {
      color: #fff;
      background-color: #3818D9;
      font-style: normal;
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      border: 1px solid #3818D9;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 10px;
  }
  input{
    background: white;
    border: none;
    font-size: 15px;
    height: 40px;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #E7E7E7;   
    border-top: none;
    border-left: none;
    border-right: none; 
    margin-top: 30px;
    
  } 
  select {
    background: white;
    border: none;
    font-size: 15px;
    height: 40px;
    margin: 0;
    outline: 0;
    width: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #E7E7E7;   
    border-top: none;
    border-left: none;
    border-right: none; 
    padding-left: 15px;
    margin-top: 30px;

     }
  
    
  fieldset {
    margin-bottom: 5px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: black;
    /*font-weight: 500 ;*/
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  .defaultOption{
    color: #999;
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-left: 45%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dateInput
{
  position: relative; 
  width: 100%;
  display: flex;
}
.mat-datepicker-toggle{
  bottom: 5px;
  left: 90%;
}

.datepickerTwo {
  background:lightblue;
}
#top{
  margin-top: 15px;
}
/* Force a higher z-index for mat-datepicker */
.mat-datepicker {
  z-index: 10000 !important; /* Set a higher z-index value */
}





 
