


<div class="container-fluid">
<div style="font-family: 'Poppins';">
<header class="top-menu">
    <nav>
      <ul>  
        <li><a><img src="../../../assets/images/Icon.svg"  style="margin-right: 15px;"><strong>Service Desk</strong></a></li>
        <li><a (click)="scrollToAboutUs()">About us</a></li>
        <li><a (click)="scrollToServices()">Services</a></li>
        <li><a (click)="scrollToPricing()">Pricing</a></li>
        <li><a (click)="scrollToContactUs()">Contact Us</a></li>
        <li><button class="login" routerLink="/company-login">Login</button></li>
        <li><button class="createAccount" routerLink="/company-register">Create Account</button></li>
      </ul>
    </nav>
  </header>

  <!--After the Menu-->
  <div class="image-container">
    <img src="../../../assets/images/Rectangle Background.svg">
    <img src="../../../assets/images/Lady.svg" class="top-image">

                <div class="text">
                <span>Good For Our Customer Experience</span>
              
                 <!--Information paragraph-->
                 <p>Sed ullamcorper eros magna, sed ultricies ligula fermentum id. Donec feugiat varius ante, id interdum libero pharetra vitae. Morbi nec scelerisque mauris.</p>
                <!--More about Us Button-->
                <button (click)="scrollToAboutUs()">More About us</button>
                
                </div>
  </div>
<!--About us-->
  <div class = "container1" id="aboutUs">
  <div class="content2">
    <span>About Us</span>
  </div>

  <!--About Us section-->
<div class="row" >
  <div class="col-8">
    <p>A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image. </p>

    <p>A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image. </p>
  
    A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image. 
  
    <p>A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image. </p>

    <p>A paragraph of placeholder text. We're using it here to show the use of the clearfix class. We're adding quite a few meaningless phrases here to demonstrate how the columns interact here with the floated image. </p>

  </div>

  <br>

  <div class="col-2">
    <!--
    <img src="../../../assets/images/Icon.svg" width="150" height="150">-->
  </div>
</div>
  
 

  <!--Services-->
  <div class="service-box" >
    <div class="row">
      <!--First service Column-->
      <div class="col">
        <div class="card">

          <img src="../../../assets/images/Diamond.svg" class="delivery">
          <!--Service header-->
          <div class="card-head">We deliver Excellence</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
        </div>

      </div>
      <br/>

      <!--Second service Column-->

      <div class="col">
        <div class="card">

          <img src="../../../assets/images/Truck.svg" class="delivery">
          <!--Service header-->
          <div class="card-head">Delivery's & Collection</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
        </div>
      </div>
      <br>

       <!--Third service Column-->
      <div class="col">
        <div class="card">

          <img src="../../../assets/images/Team.svg" class="team">
          <!--Service header-->
          <div class="card-head">Twosome Team</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
        </div>
      </div>
      <br/>

      <!--Fourth service Column-->

      <div class="col">
        <div class="card">

          <img src="../../../assets/images/Thoho.svg" class="team">
          <!--Service header-->
          <div class="card-head">24/7 We  Work</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--Services-->
<div class="services" id="service" >
  <span class="section-header">Services</span>
<div class="row">

  <div class="col">
    <!--Service Types-->
    <div class="row">
      
      <div class="col">
        <div class="card2">
         
          <img src="../../../assets/images/Headset2.svg" >
          <!--Service header-->
          <div class="card-head">Call center</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
      </div>

      </div>

      <div class="col">
        <div class="card2">
         
          <img src="../../../assets/images/Debtors.svg">
          <!--Service header-->
          <div class="card-head">Debt Collection</div>

          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
      </div>
      </div>

      

      <div class="col">
        <div class="card2">
         
          <img src="../../../assets/images/Requests.svg">
          <!--Service header-->
          <div class="card-head">Inbound Requests</div>
  
          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
      </div>
  
      </div>
  
      <div class="col">
        <div class="card2">
         
          <img src="../../../assets/images/Headset-mic.svg" >
          <!--Service header-->
          <div class="card-head">Customer Sports</div>
  
          <!--Card Info-->
          <div class="card-info2">
            <span>It is a long established fact that a 
              reader will be distracted by the 
              readable content of a page.</span>
          </div>
      </div>
      </div>

    </div>


   
  </div>
    
  </div>
</div>

<!--Pricing-->

<div class="pricing" id="pricing">
 
    <p class="header">Ready to start with Service Desk?</p>
    <p class="after-header">Choose the package that best suit you</p>
    <div class="monthly-yearly form-header">
      <span>Monthly</span>

      <!-- Toggle Button -->
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      
      
      <span style="margin-left: 15px;">Yearly</span>
        <!-- Toggle Button -->
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div>
<!--Packages-->
    <div class="row" style="margin-left: 50px;">
      <div class="col">
        <div class="free-container">
          <h4 class=""><strong>Free</strong></h4>
       
          <h4 class="price"><strong>R 0</strong></h4>
          <span class="">per month</span>

          <button class="freeButton">Sign up</button>

          <ul class="ulist">
              <li>1 Agent</li>
          </ul>
          

          <hr/>
         
      
      </div>
     </div>

     <!--Second Package-->

     <div class="col">
      <div class="edit-container">
        <h4 class=""><strong>Essentials</strong></h4>
     
        <h4 class="price"><strong>R 50</strong></h4>
        <span class="form-header">per month</span>

        <button class="requestButton">Sign Up</button>

        <ul class="ulist">
          <li>5 Agents</li>
          <li>Company branding</li>
          <li>Analytics</li>
      </ul>

      <hr/>
      <div class="green-info">
      <h5 class="green-cross">+</h5><span class="feature">Everything off <strong class="prev-package">Free</strong></span>
      
       </div>
       <div class="green-info">
          <h5 class="green-cross">+</h5><span class="feature">Chat widget</span>
           </div>
           <div class="green-info">
              <h5 class="green-cross">+</h5><span class="feature">Real time support</span>
               </div>
    
    </div>
   </div>

   <!--Third Package-->

   <div class="col">
    <div class="edit-container">
      <h4 class=""><strong>Team</strong></h4>
   
      <h4 class="price"><strong>R 90</strong></h4>
      <span class="form-header">per month</span>

      <button class="requestButton">Sign Up</button>

      
      
      <ul class="ulist">
        <li>100 Agents</li>
        <li>Company branding</li>
        <li>Analytics</li>
    </ul>

    <hr/>
    <div class="green-info">
    <h5 class="green-cross">+</h5><span class="feature">Everything off <strong class="prev-package">Essentials</strong></span>
    
     </div>
     <div class="green-info">
        <h5 class="green-cross">+</h5><span class="feature">Chat widget</span>
         </div>
         <div class="green-info">
            <h5 class="green-cross">+</h5><span class="feature">Real time support</span>
             </div>
  

  </div>
 </div>

  <!--Fourth Package-->

 <div class="col">
  <div class="edit-container">
    <h4 class=""><strong>Enterprise</strong></h4>
 
    <h4 class="price"><strong>R 160</strong></h4>
    <span class="form-header">per month</span>

    <button class="requestButton">Sign Up</button>

    
    <ul class="ulist">
      <li>5 Agents</li>
      <li>Company branding</li>
      <li>Unlimited Customers</li>
      <li>Custom Link</li>
  </ul>

  <hr/>
  <div class="green-info">
  <h5 class="green-cross">+</h5><span class="feature">Everything off <strong class="prev-package">Team</strong></span>
  
   </div>
   <div class="green-info">
      <h5 class="green-cross">+</h5><span class="feature">Chat widget</span>
       </div>
       <div class="green-info">
          <h5 class="green-cross">+</h5><span class="feature">Real time support</span>
           </div>


</div>
</div>
    </div>
    
</div>

<!--Contact Us-->

<div class="contact" id="contactUs">

  <div class="row">
    <span class="section-header">Contact Us</span>
    <!--Map-->
    <div id="map" style="width: 100%; height: 300px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14330.79747295277!2d28.222538902753147!3d-26.108730565901165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9514f3eda12c85%3A0x713bfd0eb0995145!2sKempton%20Park%20Cbd%2C%20Kempton%20Park!5e0!3m2!1sen!2sza!4v1712048585868!5m2!1sen!2sza" width="100%" height="300" style="border:0;" allowfullscreen="" loading="fast" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--Contact details-->
    
    <div class="col-6">
      
        <div class="contact-details">
          <div class="contact-item">
              <i class="fas fa-phone"></i>
              <span>Contact Number</span>
          </div>
          <div class="contact-item">
              <i class="fas fa-map-marker-alt"></i>
              <span>123 Street Name, City, Country</span>
          </div>
          <div class="contact-item">
              <i class="far fa-envelope"></i>
              <span>email@gmail.com</span>
          </div>
          
        
      
      </div>
    </div> 

    <!--Contact form-->
    <div class="col-6">
      <div class="contact-form">

      <form (ngSubmit)="submitForm()" [formGroup]="contactForm">
        <div class="form-group row">
          <div class="col-sm-6"> 
            <input type="text" class="form-control" id="fullname" name="fullname" formControlName="fullName" placeholder="Fullname">

            <!--Validations-->
            <div
            *ngIf="contact['fullName'].invalid && (contact['fullName'].dirty || contact['fullName'].touched)"
            class="alert alert-danger">
            <span *ngIf="contact['fullName'].errors?.['required']" style="color:#f98f8f">Fullname is required</span>
             </div>
             <!--End Of Validations-->
          </div>
          <div class="col-sm-6"> 
            <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Email Address">
            <!--Validations-->
            <div
            *ngIf="contact['email'].invalid && (contact['email'].dirty || contact['email'].touched)"
            class="alert alert-danger">
            <span *ngIf="contact['email'].errors?.['required']" style="color:#f98f8f">Email Address is required</span>
            <span *ngIf="contact['email'].errors?.['email']" style="color:#f98f8f">Invalid Email Address</span>

             </div>
             <!--End Of Validations-->
          </div>
        </div>
          <input type="text" class="form-control" id="subject" name="subject" formControlName="subject" placeholder="Subject">
          <!--Validations-->
          <div
          *ngIf="contact['subject'].invalid && (contact['subject'].dirty || contact['subject'].touched)"
          class="alert alert-danger">
          <span *ngIf="contact['subject'].errors?.['required']" style="color:#f98f8f">Subject is required</span>

           </div>
           <!--End Of Validations-->
          <textarea class="form-control" id="message" name="message" rows="5" formControlName="message" placeholder="Type message here"></textarea>

           <!--Validations-->
           <div
           *ngIf="contact['message'].invalid && (contact['message'].dirty || contact['message'].touched)"
           class="alert alert-danger">
           <span *ngIf="contact['message'].errors?.['required']" style="color:#f98f8f">Please type your message</span>
 
            </div>
            <!--End Of Validations-->
        <button type="submit" class="nextButton" [disabled]="contactForm.invalid">Submit</button>
      </form>
      </div>
      

    </div>
  </div>
</div>

<!--Footer-->

<footer class="footer">

  
  <div class="row">
  <img src="../../../assets/images/Flowers.svg" class="footerImage">
    <div class="col">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>

    <div class="col">
      <span class="links">Useful Links</span><br>
    
      <div class="links-container">
        
        <a  (click)="scrollToAboutUs()">About Us</a>
        <a  (click)="scrollToServices()">Services</a>
        <a  (click)="scrollToPricing()">Pricing</a>
        <a  (click)="scrollToContactUs()">Contact Us</a>
      </div>
     
    </div>
    
<!--Social contacts-->
<div class="col">
  <div class="socials">
    <button>LinkedIn</button>
    <button>Twitter</button>
    <button>Facebook</button>
    <button>Instagram</button>

  </div>
</div>
  </div>

<hr>
</footer>
</div>
</div>
