<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand--> 
        <img src="./assets/images/service-desk.png" class="rounded-circle" width="19" height="19" alt="" />
        <a class="navbar-brand ps-1" routerLink="/" >Service Desk</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" data-bs-toggle="sidebar-Toggle" id="sidebarToggle">
            <i class="fas fa-bars text-white"></i>
        </button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" routerLink=""
                data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby= "navbarDropdown" >
                    <li class="dropdown-header"> <h6> <i class="fas fa-user fa-fw"></i>Kwazikonke</h6></li>
                    <li> <hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--SIDE-->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link collapsed" href="#" (click)="openComponent('tickets')">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Tickets
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    kwazi@servicedesk.com
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
        <!--CONTENT INGENA LA-->
        <ng-content *ngComponentOutlet="defaultComponent">
        </ng-content>
            </main>
        </div>
    </div>
</body>