<!--Employee-->
<div class="sidebar">
    <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p style="white-space: nowrap; margin-left: 15px; margin-top: 15px; font-weight: bold;">Service Desk</p>
      </div>
    
    <ul>

      <li><a routerLink="#" style="margin-left: 25px; text-decoration: none;">
        <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Tickets</a></li>
      <li><a routerLink="/knowledgebase" style="margin-left: 25px;"><img src="../../../assets/images/knowledgebase.svg" width = "25px" height="25px"  class="menuImages">Knowledgebase</a></li>
      <li><a routerLink="/employee-login" style="margin-left: 25px; text-decoration: none; margin-top: 530px;"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>

    </ul>
  </div>
  <!--End Employee-->

  <!--Super Admin-->
  <div class="sidebar">
    <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p style="white-space: nowrap; margin-left: 15px; margin-top: 15px; font-weight: bold;">Service Desk</p>
      </div>
    
    <ul>

        <li><a routerLink="/admin-dashboard" style="margin-left: 25px; text-decoration: none;">
            <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Dashboard</a></li>
          <li><a routerLink="/admin-users" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Headset.svg" width = "25px" height="25px"  class="menuImages">Users</a></li>
          <li><a routerLink="/admin-subscriptions" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Subscriptions.svg" width = "25px" height="25px"  class="menuImages">Subscriptions</a></li>
          <li><a routerLink="/admin/settings" style="margin-left: 25px; text-decoration: none;"><img src="../../../assets/images/Gear.svg" width = "25px" height="25px"  class="menuImages">Settings</a></li>
    
          <li><a routerLink="/admin-login" style="margin-left: 25px; text-decoration: none; margin-top: 440px;"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>
    
      
    </ul>
  </div>
  <!-- End Super Admin-->