

    
    .form {
        width: 100%; /* Make the form width 100% */
        /* You can also add padding or margin as needed */
    }
    
    form {
      word-wrap: break-word;
  
    }
    
    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }
    
    input,
    
    select {
      background: white;
      border: none;
      font-size: 14px;
      height: 40px;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 800px;
      background-color: #fff;
      box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
      margin-bottom: 5px;
      border: 1px solid #E7E7E7;
       border-radius: 4px;
    }
    textarea{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 12px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 800px;    background-color: #fff;
    color: #9E9E9E;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    height: 100px;
  }

  .text-class{
    background: white;
    border: none;
    font-size: 12px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    color: #9E9E9E;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    height: auto;
  }

  .nextButton
{
    color: #fff;
    background-color: #3818D9;
    font-style: normal;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 650px;
    border: 1px solid #3818D9;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;

}


  .notifications-top{
    margin-top: 15px;
    text-decoration: underline;
  }
    
    select {
      padding: 6px;
      height: 40px;
      border-radius: 2px;
    }
    .closeButton
{
  color: #fff;
  background-color: #E94435;
    font-style: normal;
    border-radius: 4px;
    width: auto;
    height: 40px;
    border: none;
    margin-top: 25px;
    padding: 10px;
}
 
    
    fieldset {
      margin-bottom: 5px;
      border: none;
    }
    
    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }
    
    label {
      display: block;
      margin-bottom: 8px;
font-size: 15px;  
  }
    
    label.light {
      font-weight: 300;
      display: inline;
    }

    .attachButton
{
  background-color: #D9D9D9;
  width: auto;
  height: auto;
  padding: 5px;
  border: 1px solid #D9D9D9;
  margin-bottom: 10px;
}
    

    
    @media screen and (min-width: 480px) {
    
      form {
        max-width: 480px;
      }
    
    }
  
    .content-background
  {
    background-color:#fff;
    border-radius: 4px;
    width: 900px;
    height: auto;
  }
  .content {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Calculate width to fill remaining space */
    height: 100vh; /* Calculate height to fill remaining space */
    background-color: #F9F9FB;

  }
  
  #content{
    background-color: #e7e7fe;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    padding-top: 0px;
    word-wrap: break-word;
    height: 250px;
    width: 400px;
  }

  .notifications{
    background-color: #e7e7fe;
    border-radius: 4px;
    margin-right: 15px;
    padding: 15px;
    padding-top: 0px;
    word-wrap: break-word;
    height: auto;
    width: 800px;
  }

  .settingsHeader{
    font-weight: bold;
     margin-top: 5px;
  }

  .settings-menu
  {
    margin-top: -20px;
    font-weight: 500;
  }
  .settings-menu li a
  {
    text-decoration: none;
    cursor: pointer;
  }

  .settings-menu li a:hover
  {
    text-decoration: none;
    color: inherit;
  }

  .settings-menu img{
    margin-right: 25px;
  }
  
  
  
  .ticket-header{
    color:#1255CC;
    font-weight: Bold;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    margin-left: 15px;
    border-bottom: 1px solid #E7E7E7;
  }
  
  .activity{
    background: #fff;
    border-radius: 4px;
    word-wrap: break-word;
    margin: 10px auto;
    padding: 10px 20px;
    height: 300px;
    width: 315px;
    margin-left: 1005px;
    margin-top: -300px;  
    right: -25px;
  }

  .alert.alert-danger {
    background-color: #f8d7da; /* Red color for error */
    border-color: #f5c6cb; /* Border color */
    color: #721c24; /* Text color */
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 800px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-left: 40%;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


  


  
  
  
  
  
  
  
  
    
  
   
    
  
  
  