<div class="sidebar" style="font-family: Poppins;">
  <div class="logo">
      <img src="../../../assets/images/Icon.png" alt="Logo"> 
      <p class="menuHeader">Service Desk</p>
  </div>
  
  <ul>
    <li routerLinkActive="active">
        <a routerLink="/company-dashboard" class="menuItems">
          <img src="../../../assets/images/tickets.svg" width="25px" height="25px" class="menuImages">Dashboard
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/company-tickets" class="menuItems">
          <img src="../../../assets/images/Headset.svg" width="25px" height="25px" class="menuImages">Tickets
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/company-settings" class="menuItems">
          <img src="../../../assets/images/Gear.svg" width="25px" height="25px" class="menuImages">Settings
        </a>
      </li>
      
      
      
      <!-- Logout moved to the bottom -->
      <li><a routerLink="/admin-login" class="logout">
          <img src="../../../assets/images/Vector.svg" width="15" height="15" class="menuImages">Logout</a></li>
  </ul>
</div>
