
<div class="container-fluid">
    <div style="display: flex; justify-content: center;">
        <div class="row">
          <div>
            <img src="../../../../assets/images/Icon.png" alt="Service Desk">
            <span class="Service-Desk" style="font-weight: bold;"> Service Desk</span>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <form [formGroup]="loginForm" class="col-md-6 mx-auto">
          <div class="form-group">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter work email"
            required [class.is-invalid]="v.email.invalid && v.email.touched">
                <div class="text-center" *ngIf="v.email.invalid && v.email.touched">
                    <p style="color: crimson;" class="small mt-1" *ngIf="v.email.errors?.['required']">Email is
                        required!</p>
                </div>
        </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-user" formControlName="password" placeholder="Password"
            required
           [class.is-invalid]="v.password.invalid && v.password.touched">
       <div class="text-center" *ngIf="v.password.invalid && v.password.touched">
           <p style="color: crimson;" class="small mt-1" *ngIf="v.password.errors?.['required']">
               Password is required!</p>
       </div>
        </div>
    
        <button [disabled]="loginForm.invalid" type="submit"
                    class="btn btn-primary btn-user btn-block mb-3">
                    Login
                </button>
                <div class="text-center">
                    <p>Don't have an account? <a routerLink="/log" class="small text-primary">Contact your Administrator</a>
                    </p>
                </div>
        </form>
      </div>
</div>





