
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
/* styles.css */

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* slight shadow */
border: none; /* remove border */
}

.backButton {
margin-bottom: 20px;
}

  
  form {
    width: 400px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #fff;
    border-radius: 8px;
    word-wrap: break-word;

  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }

 
  
  input,
  
  select {
    background: white;
    border: none;
    font-size: 12px;
    height: 40px;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    color: #9E9E9E;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    border: 1px solid #E7E7E7;
     border-radius: 4px;
  }
  textarea{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 12px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: #9E9E9E;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  height: 100px;
}

.text-class{
  background: white;
  border: none;
  font-size: 12px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  color: #9E9E9E;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  height: auto;
}

.nextButton
{
  color: #fff;
  background-color: #3818D9;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  width: 70px;
  border: none;
  margin-left: 15px;
  border: 1px solid #3818D9;
  
}
.attachButton 
{
  color: #5F5F5F;
  background-color: #fff;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  width: 150px;
  border: 1px solid #5F5F5F;
  /* margin-left: -35px; */
}


  select {
    padding: 6px;
    height: 40px;
    border-radius: 2px;
  }
 
  
  fieldset {
    margin-bottom: 5px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #9E9E9E;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }

  .content-background
{
  background-color:#fff;
  border-radius: 4px;
  width: 900px;
  height: auto;
}

#content{
  background-color: white;
  border-radius: 4px;
  margin-right: 15px;
  padding: 15px;
  padding-top: 0px;
  word-wrap: break-word;
  height: 600px;
}
.content {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Calculate width to fill remaining space */
  height: 100vh; /* Calculate height to fill remaining space */
  background-color: #F9F9FB;
  font-family: 'Poppins';
}



.ticket-header{
  color:#1255CC;
  font-weight: Bold;
  font-size: 15px;
  font-family:'Poppins', sans-serif;
  margin-left: 15px;
  border-bottom: 1px solid #E7E7E7;
}

.ticket-message
{
 
  border-radius: 4px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.ticket-details{
  display: inline;
  margin-left: 15px;
  font-stretch: expanded;
 }

 .previous{
  color: #FFF;
  background-color: #AE8EF1;
  border: 1px solid #AE8EF1;
  font-weight: small;
  font-style: normal;
  border-radius: 5px;
  height: 30px;
  width: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.next{
  color: #2E2A40;
  background-color: #F9F9FB;
  font-weight: small;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
  height: 30px;
  width: 40px;
  margin-bottom: 10px;
  margin-right: 25px;

}

#ticket-details
{
  background: #fff;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 10px auto;
  padding: 10px 20px;
  height: 290px;
  top:-10px;
  
}

.activity{
  background: #fff;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 10px auto;
  padding: 10px 20px;
  height: 300px;
  width: 315px;
  margin-left: 1005px;
  margin-top: -300px;  
  right: -25px;
}

.ticket-id
{
  color: #000;
  border-bottom: 1px solid grey;
  height: 10px;
  margin-left: 10px;
  font-stretch: 150%;
}

.ticket-status
{

  color: #03781D;
  border-bottom: 1px solid #03781D;
  height: 10px;
  margin-left: 10px;
  font-stretch:expanded;
}

.ticket-priority
{

  color: #BA1717;
  border-bottom: 1px solid #E2A1A1;
  height: 10px;
  margin-left: 10px;
  font-stretch:expanded;
}

.message-body{
  background: #202020;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 10px auto;
  padding: 10px 20px;
  height: auto;
  
}

.replied{

  background: #F7F5FF;
  border-radius: 4px;
  word-wrap: break-word;
  margin: 10px auto;
  padding: 10px 20px;
  height: auto;
  width:auto;
  margin-left: 350px;
  overflow-y: auto;
  margin-right: 5px;

}

.message-input{
  background: white;
  border-radius: 4px;
  word-wrap: break-word;
  /* margin: 10px auto; */
  padding: 10px 20px;
  height: 150px;
 
  border: 1px solid #F7F5FF;
  margin-top: 85px;
  box-shadow: -5px 5px 10px #F7F5FF, 5px 5px 10px #F7F5FF, 0px 5px 10px #F7F5FF; 
  overflow-y: auto;

}

#rightMove
{
  margin-right: 20px;
}

#ticketID{
  color:#000;
margin-left: 10px;
background-color: #ECECEC;
border: 2px solid #9E9E9E;
padding-left: 10px;
padding-right: 10px;
border-radius: 50px;

}

#statusID{
  color:#03781D;
margin-left: 10px;
background-color: #F0F9F2;
border: 2px solid #6DC580;
padding-left: 10px;
padding-right: 10px;
border-radius: 50px;}

#priorityID{
  color:#BA1717;
  margin-left: 10px;
  background-color: #F9F2F2;
  border: 2px solid #E2A1A1;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
}













  

 
  


