<div class="sidebar" style="font-family: Poppins;">
  <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p class="menuHeader">Service Desk</p>
      </div>
    
      <ul>

        <li routerLinkActive="active">
          <a routerLink="/employee-tickets" class="menuItems">
          <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Tickets</a></li>
          <li routerLinkActive="active">
            <a routerLink="/knowledgebase" class="menuItems"><img src="../../../assets/images/knowledgebase.svg" width = "25px" height="25px"  class="menuImages">Knowledgebase</a></li>
       
            <li routerLinkActive="active">
              <a routerLink="/employee-settings" class="menuItems">
          <img src="../../../assets/images/Gear.svg" width="25px" height="25px" class="menuImages">Settings</a>
        </li>

        <li><a routerLink="/employee-login" class="logout"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>
      


      </ul>
  </div>