.logout{
    margin-left: 25px;
     text-decoration: none; 
     margin-top: 600px;
}

.menuItems
{
    margin-left: 25px; 
    text-decoration: none;
}

.active {
    background-color: rgba(127, 86, 216, 0.1); 
    color: #7F56D8 !important;
  }
  .active .menuImages path {
    fill: #7F56D8 !important; /* Your desired color */
  }
  .active .menuItems {
    color: #7F56D8; 
    font-size: large;
  }
  
  .active .menuImages {
   color:#7F56D8 !important;
  }
  
  
  