
h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input,
select {
  border: none;
  font-size: 12px;
  height: 40px;
  margin: 0;
  outline: 0;
  padding: 15px;
  color: #9E9E9E;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 5px;
  border: 1px solid #E7E7E7;
  outline: 0px;
}

select {
  padding: 6px;
  height: 40px;
  border-radius: 2px;
}

button {
  color: #FFF;
  background-color: #AE8EF1;
  
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #AE8EF1;
  border-width: 1px 1px 3px;
  height: 50px;
  margin-bottom: 10px;

}


.content-background
{
background-color:#fff;
border-radius: 4px;
width: 900px;
height: auto;
}

#content{
background-color: rgb(255, 255, 255);
border-radius: 4px;
margin-right: 15px;
padding: 15px;
padding-top: 0px;
word-wrap: break-word;
height: auto;
}
.content {
margin-left: 250px; /* Same as the width of the sidebar */
padding: 20px;
width: calc(100% - 250px); /* Calculate width to fill remaining space */
height: auto; /* Calculate height to fill remaining space */
background-color: #F9F9FB;
}

#details{
background-color: white;
border-radius: 4px;
margin-right: 15px;
padding: 15px;
padding-top: 15px;
word-wrap: break-word;
border: 1px solid grey;
}

.filterButton
{
  color: #fff;
  background-color: #59699e;
  font-style: normal;
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
  width: 120px;
  border: none;
}
.bar-graph {
display: flex;
flex-direction: row;
}

.bar {
width: 50px;
background-color: #3498db;
margin-right: 10px;
display: flex;
align-items: flex-end;
position: relative;
}

.export{
padding-left: 10px;
padding-right: 10px;
background-color: transparent;
border: 2px solid grey;
width: auto;
color: #000;
height: 35px;
float: inline-end;
margin-bottom: 10px;
}
#statusID{
color:#03781D;
background-color: #F0F9F2;
border: 2px solid #6DC580;
padding-right: 10px;
border-radius: 50px;
margin-bottom: 10px;}

#escalated{
  color:#ff7420;
  background-color: rgba(255, 116, 32, 0.1);
  border: 2px solid rgba(255, 116, 32, 0.5);
    padding-right: 10px;
  border-radius: 50px;
  margin-bottom: 10px;}


#priorityID{
color:#BA1717;
background-color: #F9F2F2;
border: 2px solid #E2A1A1;
border-radius: 50px;
}

#inprogress
{
color:#e47200;
background-color: rgba(241, 238, 142, 0.5);
border: 2px solid #ffff00;
border-radius: 50px;
}

.filter{
margin-left: 25px;
color: #5F5F5F;
}
.vertical-line {
border-left: 1px solid grey;
height: 1em; 
margin-left: 25px; 
}

select{
width: 120px;
margin-left: 25px;
height: 35px;
background-color: #59699e;
color: #fff;
border: 1px solid #59699e;

}

.applyFilter{
  width: 100%;
  height: 35px;
  background-color: #59699e;
  color: #fff;
  border: 2px solid #59699e;
  border-radius: 0.5px;
  font-size: 12px;
  margin-top: 10px;
  }
  .nextButton
{
color: #fff;
background-color: #3818D9;
font-style: normal;
border-radius: 0.5px;
width: 100%;
height: 35px;
margin-bottom: 10px;
border: 2px solid #3818D9;
margin-top: 10px;
}

.close-button {
  display: inline-block; 
  width: 30px; 
  height: 30px; 
  line-height: 30px; 
  background-color: #E94435;
  color: #fff; 
  text-align: center; 
  border-radius: 50%; 
  text-decoration: none; 
  font-size: 14px; 
  cursor: pointer; 
}


  
  .date-picker-container {
    align-items: center;
    gap: 20px;
    width: 250px;
  }
  
  .date-picker-container input {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    height: 30px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    

    
  }
  
  .date-picker-container input::placeholder {
    color: #999; /* Placeholder text color */
  }
  
  .date-picker-container input:focus {
    outline: none;
    border-color: #007bff; /* Change to your preferred focus color */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional shadow effect */
  }
  /* Style the button */
.dropbtn {
  width: 150px;
  margin-left: 10px;
  height: 35px;
  background-color: #59699e;
  color: #fff;
  border: 2px solid #59699e;
  border-radius: 0.5px;
  font-size: 12px;
}

.dateInput
{
  position: relative; 
  width: 330px;
  display: flex;
}
.mat-datepicker-toggle{
  margin-left: 10px;
  margin-top: -2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown content when the dropdown is open */
.dropdown-content {
  display: block;
}

.date-picker-container {
  padding: 12px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
  
}
.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Optional: Adjust spacing between the elements */
}

.filters-header a{
  color: black !important;
}
.filters-header p{
font-weight: 600;}
.filters-header a:hover{
  color: black;
}

.filters-header a {
  cursor: pointer; /* Adds a pointer cursor to the link */
}
  