
  <app-sidebar></app-sidebar>
  <app-employee-top-menu></app-employee-top-menu> 
  <div class="content">
    

    <div class="content-wrapper"> 
      <h2><strong>Dashboard</strong></h2>
      <hr/>
      <div class="row" id="content">
        
        <span class="form-header" style="margin-bottom: 5px; margin-top: 5px">Displaying Tickets Report</span>
  
            <div class="container text-left" style="margin-top: 15px;" >
              
          <div class="row">
  
           <!--New Tickets Bar graph-->
  
           <div class="col" id="details">
            <div style="display: inline;">
              <span class="form-header badge badge-success" id="statusID">Opened</span>
              <span class="vertical-line"></span>
              <span class="filter">Filters:</span>
              <div class="dropdown">
                <button class="dropbtn" (click)="toggleDropdown('opened')">Select Date Range</button>
                <div class="dropdown-content" *ngIf="dropdownStates['opened']">
                  <div class="date-picker-container">
                    <div>
                      <div class="filters-header">
                        <p>FILTER</p>
                        <a class="close-button" (click)="closeFilter('opened')">X</a>
                      </div>                          <hr style="margin-top: 3px;">
                      <label for="startDate">Start Date:</label>
                      <input
                        type="month"
                        id="startDate"
                        (change)="onStartDateChange($event, 'opened')"
                        [value]="openedStartDate"
                        placeholder="Start Date"
                      />
                    </div>
                    <div>
                      <label for="endDate">End Date:</label>
                      <input
                        type="month"
                        id="endDate"
                        (change)="onEndDateChange($event, 'opened')"
                        [value]="openedEndDate"
                        placeholder="End Date"
                      />
                    </div>
                    <button class="applyFilter" [disabled]="!openedStartDate || !openedEndDate" (click)="updateDatesOpen(openedStartDate, openedEndDate)">
                      
                      <span *ngIf="showSpinnerOpen" class="spinner" role="status" aria-hidden="true"></span>
                      <span *ngIf="!showSpinnerOpen"> Apply Filter</span>
                    </button>
                    <button class="nextButton" (click)="resetPage('opened')">
                      <span *ngIf="showSpinner && currentComponent === 'opened'" class="spinner" role="status" aria-hidden="true"></span>
                      <span *ngIf="!showSpinner || currentComponent !== 'opened'">Reset</span>
                    </button>
                    
                  </div>
                </div>
              </div>
              <button class="export" (click)="DownloadCSVOpen()">Export CSV</button>
              <p class="ticket-category"></p>
            </div>
            <app-bar-graph [startDate]="openedStartDate" [endDate]="openedEndDate"></app-bar-graph>
          </div>
        
  
           <!--End Of New Tickets Bar graph-->

           <div class="col" id="details">
            <div style="display: inline;">
              <span class="form-header badge badge-warning" id="inprogress">In Progress</span>
              <span class="vertical-line"></span>
              <span class="filter">Filters:</span>
              <div class="dropdown">
                <button class="dropbtn" (click)="toggleDropdown('inProgress')">Select Date Range</button>
                <div class="dropdown-content" *ngIf="dropdownStates['inProgress']">
                  <div class="date-picker-container">
                    <div>
                      <div class="filters-header">
                        <p>FILTER</p>
                        <a class="close-button" (click)="closeFilter('inProgress')">X</a>
                      </div>                          <hr style="margin-top: 3px;">
                      <label for="startDate">Start Date:</label>
                      <input
                        type="month"
                        id="startDate"
                        (change)="onStartDateChange($event, 'inProgress')"
                        [value]="inProgressStartDate"
                        placeholder="Start Date"
                      />
                    </div>
                    <div>
                      <label for="endDate">End Date:</label>
                      <input
                        type="month"
                        id="endDate"
                        (change)="onEndDateChange($event, 'inProgress')"
                        [value]="inProgressEndDate"
                        placeholder="End Date"
                      />
                    </div>
                    <button class="applyFilter" [disabled]="!inProgressStartDate || !inProgressEndDate" (click)="updateDatesInProgress(inProgressStartDate, inProgressEndDate)">
                      <span *ngIf="showSpinnerInProgress" class="spinner" role="status" aria-hidden="true"></span>
                      <span *ngIf="!showSpinnerInProgress"> Apply Filter</span>
                    </button>
                    <button class="nextButton"(click)="resetPage('inProgress')">
                    
                        <span *ngIf="showSpinner && currentComponent === 'inProgress'" class="spinner" role="status" aria-hidden="true"></span>
                        <span *ngIf="!showSpinner || currentComponent !== 'inProgress'">Reset</span>
                
                    </button>
                  </div>
                </div>
              </div>
              <button class="export" (click)="DownloadCSVInProgress()">Export CSV</button>
              <p class="ticket-category"></p>
            </div>
            <app-in-progress [startDate]="inProgressStartDate" [endDate]="inProgressEndDate"></app-in-progress>
          </div>
<!--End Of In Progress Bar graph-->
  
         <!--End Of Resolved Ticket Bar graph-->
  
        
                </div>
            </div>
  
          <!--In Progress Bar graph  <p class="form-header badge badge-danger" id="priorityID">Urgent</p>
                  <p class="form-header badge badge-success" id="statusID"-->
  
            <div class="container text-left" style="margin-top: 15px;" >
                <div class="row">
  
         <!-- Closed Tickets Section -->
  <div class="col" id="details">
    <div style="display: inline;">
      <span class="form-header badge badge-danger" id="priorityID">Closed</span>
      <span class="vertical-line"></span>
      <span class="filter">Filters:</span>
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown('closed')">Select Date Range</button>
        <div class="dropdown-content" *ngIf="dropdownStates['closed']">
          <div class="date-picker-container">
            <div>
              <div class="filters-header">
                <p>FILTER</p>
                <a class="close-button" (click)="closeFilter('closed')">X</a>
              </div>              <hr style="margin-top: 3px;">
              <label for="startDate">Start Date:</label>
              <input
                type="month"
                id="startDate"
                (change)="onStartDateChange($event, 'closed')"
                [value]="closedStartDate"
                placeholder="Start Date"
              />
            </div>
            <div>
              <label for="endDate">End Date:</label>
              <input
                type="month"
                id="endDate"
                (change)="onEndDateChange($event, 'closed')"
                [value]="closedEndDate"
                placeholder="End Date"
              />
            </div>
            <button class="applyFilter" [disabled]="!closedStartDate || !closedEndDate" (click)="updateDatesClosed(closedStartDate, closedEndDate)">
              <span *ngIf="showSpinnerClosed" class="spinner" role="status" aria-hidden="true"></span>
              <span *ngIf="!showSpinnerClosed"> Apply Filter</span>
            </button>
            <button class="nextButton" (click)="resetPage('closed')">
              <span *ngIf="showSpinner && currentComponent === 'closed'" class="spinner" role="status" aria-hidden="true"></span>
  <span *ngIf="!showSpinner || currentComponent !== 'closed'">Reset</span>
            </button>
          </div>
        </div>
      </div>
      <button class="export" (click)="DownloadCSVClosed()">Export CSV</button>
      <p class="ticket-category"></p>
    </div>
    <app-unresolved [startDate]="closedStartDate" [endDate]="closedEndDate"></app-unresolved>
  </div>
<!--End Of Un resolved Bar graph-->
  
        <!--Resolved Tickets Bar graph-->
        <!-- Escalated Tickets Section -->
  <div class="col" id="details">
    <div style="display: inline;">
      <span class="form-header badge badge-success" id="escalated">Escalated</span>
      <span class="vertical-line"></span>
      <span class="filter">Filters:</span>
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown('escalated')">Select Date Range</button>
        <div class="dropdown-content" *ngIf="dropdownStates['escalated']">
          <div class="date-picker-container">
            <div>
              <div class="filters-header">
                <p>FILTER</p>
                <a class="close-button" (click)="closeFilter('escalated')">X</a>
              </div>                  <hr style="margin-top: 3px;">
              <label for="startDate">Start Date:</label>
              <input
                type="month"
                id="startDate"
                (change)="onStartDateChange($event, 'escalated')"
                [value]="escalatedStartDate"
                placeholder="Start Date"
              />
            </div>
            <div>
              <label for="endDate">End Date:</label>
              <input
                type="month"
                id="endDate"
                (change)="onEndDateChange($event, 'escalated')"
                [value]="escalatedEndDate"
                placeholder="End Date"
              />
            </div>
            <button class="applyFilter" [disabled]="!escalatedStartDate || !escalatedEndDate"  (click)="updateDatesEscalated(escalatedStartDate, escalatedEndDate)">
             
              <span *ngIf="showSpinnerEscalated" class="spinner" role="status" aria-hidden="true"></span>
              <span *ngIf="!showSpinnerEscalated"> Apply Filter</span>
            </button>
            <button class="nextButton" (click)="resetPage('escalated')">
              <span *ngIf="showSpinner && currentComponent === 'escalated'" class="spinner" role="status" aria-hidden="true"></span>
              <span *ngIf="!showSpinner || currentComponent !== 'escalated'">Reset</span>
            </button>
          </div>
        </div>
      </div>
      <button class="export" (click)="DownloadCSVEscalated()">Export CSV</button>
      <p class="ticket-category"></p>
    </div>
         <app-escalated-graph [startDate]="escalatedStartDate" [endDate]="escalatedEndDate"></app-escalated-graph>
  </div>


                </div>
            </div>

        </div>
       
          
      </div>
        
    </div>
  