<app-admin-sidebar></app-admin-sidebar>
<app-admin-top-menu></app-admin-top-menu>  
  <div class="content">
    
    <div class="content-wrapper">
                    <h2><strong>Subscription's Name</strong></h2>
            <hr/>
          <div class="row">
            <div class="col-13" id="content" style="margin-top: 25px;">
    
              <div class="container text-left" style="margin-top: 15px; margin-bottom: 15px;" >
                    <div class="row">

                        <div class="col-4">
                            <div class="edit-container">
                                <h4 class=""><strong>Package Name</strong></h4>
                             
                                <h4 class="price"><strong>Price</strong></h4>
                                <span class="form-header">per month</span>

                                <button class="requestButton">Request a demo</button>

                                <ol>
                                    <li>Number of Agents</li>
                                    <li>Feature 2</li>
                                    <li>Feature 3</li>
                                </ol>

                                <hr/>
                                <div class="green-info">
                                <h5 class="green-cross">+</h5><span class="feature">Lorem Ipsolum</span>
                                
                                 </div>
                                 <div class="green-info">
                                    <h5 class="green-cross">+</h5><span class="feature">Lorem Ipsolum</span>
                                     </div>
                                     <div class="green-info">
                                        <h5 class="green-cross">+</h5><span class="feature">Lorem Ipsolum</span>
                                         </div>
                            
                            </div>
                        </div>

                         
                <!--Editing Package-->
                <div class="col-8">
                    <div >
        
                    <form [formGroup]="editForm" >
               
                      <fieldset>
                          
                    
                        <label for="subscription_name" >Name</label>
                        <input type="text" id="name" name="subscription_name" formControlName="name" placeholder="">
                        <div
                        *ngIf="edit['name'].invalid && (edit['name'].dirty || edit['name'].touched)"
                        class="alert alert-danger">
                        <span *ngIf="edit['name'].errors?.['required']" >subscription name is required</span>
                        <span *ngIf="edit['name'].errors?.['containsNumbers']" >Please enter valid Full name</span>
              
                         </div>
              
                         <label for="Price" >Price</label>
                         <input type="text" id="price" name="price" formControlName="price" placeholder="">
                         <div
                         *ngIf="edit['price'].invalid && (edit['price'].dirty || edit['price'].touched)"
                         class="alert alert-danger">
                         <span *ngIf="edit['price'].errors?.['required']" >Price is required</span>
                         <span *ngIf="edit['price'].errors?.['notANumber']" >Invalid price entered</span>

              
                          </div>
              
                       
              
                          <label for="agents" >Agents</label>
                         <input type="text" id="Agents" name="Agents" formControlName="agents" placeholder="">
                         <div
                         *ngIf="edit['agents'].invalid && (edit['agents'].dirty || edit['agents'].touched)"
                         class="alert alert-danger" >
                         <span *ngIf="edit['agents'].errors?.['required']" >Agents is required</span>
                         <span *ngIf="edit['agents'].errors?.['notANumber']" >Please enter valid number of agents</span>

                          </div>

                          <label for="customer Link" class="input-fields">Enable Customer Link</label>
              
                          <select formControlName="customerLink" style="width: 380px;">
                              <option value="Option 1"> Yes </option>
                              <option value="Oprion 2"> No </option>
                          </select>
              
                          <div
                          *ngIf="edit['customerLink'].invalid && (edit['status'].dirty || edit['customerLink'].touched)"
                          class="alert alert-danger">
                          <span *ngIf="edit['customerLink'].errors?.['required']">Please select your option</span>
                           </div>

                          <label for="status" class="input-fields">Status</label>
              
                          <select formControlName="status" style="width: 380px;">
                              <option value="active-status" class="option-status"> active </option>
                              <option value="not-active"> active </option>
                              <option value="not-active"> active </option>
                          </select>
              
                          <div
                          *ngIf="edit['status'].invalid && (edit['status'].dirty || edit['status'].touched)"
                          class="alert alert-danger" >
                          <span *ngIf="edit['status'].errors?.['required']" >Please select status</span>
                           </div>
                      </fieldset>
          
                      <button type="submit" style ="width:100px; margin-top: 25px; margin-left: 280px;"class="nextButton" [disabled]="editForm.invalid">Save</button>
                  </form>
              

                </div>
                        
                        
                    </div>
                </div>

                <button class="closeButton" routerLink="/admin-subscriptions">Back</button>

            </div>

           

         

        </div>

        </div>
       
          
      </div>

