
<app-employee-sidebar></app-employee-sidebar>
<app-top-menu></app-top-menu>

<div class="content">
  
  
  <!-- First row of settings' grid -->

  <div class="content-wrapper">
    <div class="row">
      <h2><strong>Knowledgebase</strong></h2>
<hr>
      <!-- First column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Introduction to Hosting</strong></h6>
            <p class="card-text">What is web hosting?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
      
      <!-- Second column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Setting up a website</strong></h6>
            <p class="card-text">How to register a domain name?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
      
      <!-- Third column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Introduction to Hosting</strong></h6>
            <p class="card-text">What is web hosting?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <!-- First column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Introduction to Hosting</strong></h6>
            <p class="card-text">What is web hosting?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
      
      <!-- Second column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Introduction to Hosting</strong></h6>
            <p class="card-text">What is web hosting?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
      
      <!-- Third column -->
      <div class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h6 class="card-title"><strong>Introduction to Hosting</strong></h6>
            <p class="card-text">What is web hosting?</p>
            <p class="card-text">Types of web hosting?</p>
            <p class="card-text">How to choose a hosting provider?</p>
            <p class="card-text">Common hosting features to look for</p>
            <p class="card-text">Pros and cons of different hosting types</p>
            <hr>
          </div>
        </div>
      </div>
    </div>

  </div>

  