

<div class="container-fluid" >
    <div class="content-background">
      <div style="display: flex; justify-content: center;">
          <div class="row">
            <div style="margin-top: 50px;">
              <img src="../../../../assets/images/Icon.png" alt="Service Desk" style="text-align: center;">
              <span class="Service-Desk" style="font-weight: bold;"> Service Desk</span>
            </div>
          </div>
  
        </div>
        <div style="position: relative; height: 75px;"> <!-- Add position relative and height to the parent div -->
          <span style="font-weight: bold; justify-content: center; margin-left: 15%; margin-top: 50px; position: absolute;">Change Password</span>
      </div>

        
       
        <br>
        <div class="row">
          <form [formGroup]="passwordForm" class="col-md-6 mx-auto">
            <!--
            <h5 class="form-header"><strong>Create Account</strong></h5>
            <hr/>-->
            <div class="form-group">


               
              <input type="password" id="password" name="user_password" formControlName="password" placeholder="New Password">
              <div
              *ngIf="password['password'].invalid && (password['password'].dirty || password['password'].touched)"
              class="alert alert-danger">
              <span *ngIf="password['password'].errors?.['required']" style="color:#f98f8f">New password is required</span>
              <div *ngIf="password['password'].errors?.['minlength']" style="color:#f98f8f">Password must be at least 8 characters long.</div>
              <div *ngIf="password['password'].errors?.['maxlength']"  style="color:#f98f8f">Password must be less then 12 characters long.</div>

            
            </div>

               <input type="password" id="confirm_password" name="user_password" formControlName="confirm_password" placeholder="Confirm Password">
               <div
               *ngIf="password['confirm_password'].invalid && (password['confirm_password'].dirty || password['confirm_password'].touched)"
               class="alert alert-danger">
               <span *ngIf="password['confirm_password'].getError('required')" style="color:#f98f8f">Please confirm your password</span>
               <span *ngIf="password['confirm_password'].errors?.['MustMatch']" style="color:#f98f8f">Password does not match</span>

                </div>
              
          </div>
        
          <button [disabled]="passwordForm.invalid" type="submit"
                      class="btn btn-primary btn-user btn-block mb-3">
                      Change Password
                  </button>
                 
                  
  
                  
          </form>
        </div>
  </div>
  </div>
  
  
  
  
  
  
  

