<app-admin-sidebar></app-admin-sidebar>
<app-admin-top-menu></app-admin-top-menu>  

<div class="content">
  
 

  <div class="content-wrapper">
        <h2><strong>Users</strong></h2>
    <hr>
  
  <div class="" style="margin-top: 25px;">
    <div class="row">
      <div class="col-13" id="content">

        <div class="container text-left" style="margin-top: 15px; margin-bottom: 15px;">
          <div class="row">

            <div class="col" id="details" *ngIf="currentForm === 'form1'">
              <div class="d-flex align-items-center justify-content-between">
                <h5><strong>Registered Users</strong></h5>
                <div class="ml-auto">
                  <div class="search-input">
                      <input type="text" placeholder="Search Users" style="padding-left: 50px;">
                          <label for="search" class="search-icon">
                            <img src="../../assets/images/search.svg" alt="Search Icon">
                        </label>
                       
                   </div>
               </div>
              </div>
              
              <hr>

              <table>
                <thead>
                  <tr>
                    <th>Contact Name</th>
                    <th>Company Name</th>
                    <th>Email Address</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John Smith</td>
                    <td>Mfacory</td>
                    <td>JohnDoe@gmail.com</td>
                    <td class="active-status">Active</td>
                    <td>
                      <!--
                      <span class="form-header"><a>Edit</a></span>
                      <span class="form-header"><a>Delete</a></span>-->
                    </td>
                  </tr>
                  <tr>
                    <td>John Smith</td>
                    <td>Mfacory</td>
                    <td>JohnDoe@gmail.com</td>
                    <td class="active-status">Active</td>
                    <td>
<!--
                      <img src="../../../assets/images/person.svg" (click)="toggleDropdown($event)">
                      <div class="dropdown">

                        <ul class="dropdown-menu dropdown-menu-end" [ngClass]="{ 'show': isDropdownOpen }"
                          aria-labelledby="navbarDropdown">
                          Dropdown items 
                          <li style="margin-top:-10px;"><a class="dropdown-item" routerLink="/profile">Edit</a></li>
                          <!-- You can add more dropdown items here 
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li style="margin-top:-10px;"><a class="dropdown-item" routerLink="/login">Delete</a></li>
                        </ul>
                      </div>-->
                    </td>

                  </tr>
                  <tr>
                    <td>John Smith</td>
                    <td>Mfacory</td>
                    <td>JohnDoe@gmail.com</td>
                    <td class="active-status">Active</td>
                    <td>
                      <!--
                      <img src="../../../assets/images/person.svg">-->
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>


          </div>
          <div class="col" *ngIf="currentForm === 'form2'">
            <div style="display: flex;">
              <h5 class="form-header"><strong>Register User</strong></h5>

            </div>

          </div>
        </div>



      </div>

    </div>


  </div>
</div>
</div>