<app-agent-sidebar></app-agent-sidebar>
<app-agent-top-menu></app-agent-top-menu>

<div class="content">


  <div class="content-wrapper">    <div class="row">
      <!-- Left section -->
      <div style="display: flex;">
        <h2><strong>Ticket</strong></h2>
        <!-- <button class="backButton" onclick="window.history.back()">Back</button>
        <button class="closeButton" (click)="navigateToDestination()">Close</button> -->
      </div>
      <hr>
      <div class="col-8">
        
        <!-- Main card -->
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <!-- Top section inside main card -->
            <div style="display: flex; margin-bottom: 20px;">
              <h3><strong>{{dataArray.category}}</strong></h3>
              <div style="display: flex; margin-left: auto;">
                <p class="form-header badge badge-secondary" id="ticketID">{{ticketId}}</p>
                <p class="form-header badge badge-danger" id="priorityID">{{dataArray.priority}}</p>
                <p class="form-header badge badge-success" id="statusID">{{dataArray.status}}</p>
              </div>
            </div>
            <!-- <hr/> -->
            <div class="message-body">
              <span style="color: white;">{{dataArray.description}}</span>
            </div>
            <div *ngFor="let msg of messageList | async">
              <div *ngIf="msg.sender === accountId; else elseBlock">
                <!-- Reply section -->
                <p class="replied">{{msg.content}} <span class="form-header"></span></p>
                
              </div>
              <ng-template #elseBlock>
                <div class="replied">
                  <span style="color: #202020;">{{msg.content}}</span>
                </div>
              </ng-template>
            </div>
            <!-- <p>John <span class="form-header">Today, 11:30 PM</span></p> -->
            <!-- Message input section -->
            <!-- <p>John <span class="form-header">Today, 11:30 PM</span></p> -->
            <!-- Message input section -->
            <div class="message-input">
              <input type="text"
              [(ngModel)]="newMessage" placeholder="Write your response for the issue" class="text-class"/>
              <div style="display: flex; margin-top: 20px;">
                <div>
                  <!-- Hidden file input -->
                  <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)"/>
                </div>
                <button type="button" class="attachButton" type="file" (click)="fileInput.click()">
                  <img src="../../../assets/images/Vector (Stroke).svg" width="17px" height="17px" style="margin-right: 15px;"/>
                  Attach
                </button>
                <button (click)="sendMessage()" class="nextButton">Send</button>
              </div>
            </div>
          </div>
        </div>
        <button class="closeButton" routerLink="/agent-tickets">Back</button>

        <!-- Bottom section card -->
        
      </div>
      <!-- Right section card -->
      <div class="col">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <!-- Ticket info -->
            <div class="row">
              <div class="d-flex justify-content-between align-items-center three-dots">
                <h6>Ticket Info</h6>
                <img src="../../../assets/images/Three Dots.svg" alt="Three dots" width="15" height="15">
              </div>
              <div class="col">
              <p class="form-header">Ticket Id: <span id="ticketID" class="form-header badge badge-secondary">{{ticketId}}</span></p>
              <p class="form-header">Created : <span>{{dataArray.createdAt}}</span></p>
              <p class="form-header">Status: <span class="form-header badge badge-success" id="statusID">{{dataArray.status}}</span></p>
              <p class="form-header">Priority: <span class="form-header badge badge-danger" id="priorityID">{{dataArray.priority}}</span></p>
              <hr/>
            </div>
              
            </div>
          </div>
        </div>
        <div *ngIf="!formSubmitted"> 
        <div class="card" style="width: 100%;margin-top:10px;">
          <div class="card-body">
            <h6>Escalate Ticket</h6>
            <form [formGroup]="escalateForm">
            <input formControlName="escalatedTo" name="name" class="escalate-input" placeholder="Escalate Ticket to" >

             <!--Validations-->
             <div
             *ngIf="escalate['escalatedTo'].invalid && (escalate['escalatedTo'].dirty || escalate['escalatedTo'].touched)"
             class="alert alert-danger" >  
             <span *ngIf="escalate['escalatedTo'].errors?.['required']" style="color:#f98f8f">Please select </span>
             </div>

             <textarea  formControlName="escalateReason" placeholder="Type reason here"></textarea>
             <!--Validations-->
             <div
             *ngIf="escalate['escalateReason'].invalid && (escalate['escalateReason'].dirty || escalate['escalateReason'].touched)"
             class="alert alert-danger" >  
             <span *ngIf="escalate['escalateReason'].errors?.['required']" style="color:#f98f8f">Please state your reason</span>
             </div>
             
            
            <button type="submit"class="escalate-button" [disabled]="escalateForm.invalid || escalateSpinner" (click)="escalateTicket()">
              <span *ngIf="!escalateSpinner">Escalate</span>
              <div *ngIf="escalateSpinner" class="spinner"></div>
              </button>

        
          </form>
          </div>
        </div>
        <div class="card" style="width: 100%;margin-top:10px;">
          <div class="card-body">
            <h6>Close Ticket</h6>
            <form [formGroup]="closeForm" style="width:100%">
            <textarea  formControlName="closeReason" placeholder="Type reason here"></textarea>
             <!--Validations-->
             <div
             *ngIf="close['closeReason'].invalid && (close['closeReason'].dirty || close['closeReason'].touched)"
             class="alert alert-danger" >  
             <span *ngIf="close['closeReason'].errors?.['required']" style="color:#f98f8f">Please state your reason</span>
             </div>
            <button type="submit"class="closeButton buttonRight"[disabled]="closeForm.invalid || closeSpinner" (click)="closeTicket()">
              <span *ngIf="!closeSpinner">Close</span>
              <div *ngIf="closeSpinner" class="spinner"></div>
              </button>
          </form>
          </div>
        </div>
        </div>

        <div *ngIf="formSubmitted">
          <div class="card" style="width: 100%;margin-top:10px;"> 
          <p class="alert alert-success" style="width: 100%">{{ successMessage }}</p>
          </div>
        </div>

      
      </div>

    </div>

  </div>

</div>
