<div class="container-fluid px-4">
    <h1 class="mt-4">Ticket Information</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Ticket Information</li>
    </ol>
    <div class="row">
        <!--FIRST COLUMN-->
        <div class="col-12 col-md-8"> 
            <div class="col-md-8">
                <h3 id="ticket">Cannot access the system</h3>
                <span class="badge badge-secondary">#457</span>&nbsp;
                <span class="badge badge-success">Solved</span>&nbsp;
                <span class="badge badge-warning">open</span>
            </div>
        <br>
            <div class="row mb-4">
            <div class="col-lg-11">
            <div class="card">
            <div class="d-flex justify-content-center container mt-4">
                
                <div class="wrapper">
                    <iframe src="https://deadsimplechat.com/yn6xj-aCz" width="400px" height="600px"></iframe>
                    <!--<div class="main">
                        <div class="px-2 scroll">
                            <div class="d-flex align-items-center">
                                <div class="text-left pr-1"><img src="https://img.icons8.com/color/40/000000/guest-female.png" width="30" class="img1" /></div>
                                <div class="pr-2 pl-1"> <span class="name"><b>Sarah Anderson</b></span>
                                    <p class="msg">Hi Dr Ticket, Please cornfirm if your Micosoft Teams is functioning now</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center text-right justify-content-end ">
                                <div class="pr-2"> <span class="name"><b>Me:</b></span><p class="msg">It is, Thank you.</p>
                                </div>
                                <div><img src="https://i.imgur.com/HpF4BFG.jpg" width="30" class="img1" /></div>
                            </div>
                            
                            <div class="d-flex align-items-center">
                                <div class="text-left pr-1"><img src="https://img.icons8.com/color/40/000000/guest-female.png" width="30" class="img1" /></div>
                                <div class="pr-2 pl-1"> <span class="name"><b>Sarah Anderson</b></span><p class="msg">You are welcome, I'm closing your ticket now</p>
                                </div>
                            </div>
                        </div>
                        <nav class="navbar bg-white navbar-expand-sm d-flex justify-content-between">
                             <input type="text number" name="text" class="form-control" placeholder="Type a message...">
                            <div class="icondiv d-flex justify-content-end align-content-center text-center ml-2"> 
                                <i class="fa fa-paperclip icon1"></i> <i class="fa fa-arrow-circle-right icon2"></i></div>
                                <button class="btn btn-primary">send</button>
                        </nav>
                        <br>
                    </div>-->
                </div>
            </div>
            </div>
        </div>
    </div>
</div> 
   <!--SECOND COLUMN-->
<div class="col-6 col-md-4">
    <div class="recent-activity">
        <br><br>
        <h3 id="ticket">More information:</h3>
        <div class="card">
    <div class="card-body">
        <div class="card-title">
          <h6> <b>Ticket information</b></h6>
        </div>
          <hr>
        <div class="text-black">
            <span class="name"><b> Ticket Ref:</b> #1234 </span><br>
            <span class="name"><b> Assigned To:</b> Sara Anderson </span><br>
            <span class="name"><b> Created:</b> 05 April 2023 </span><br>
            <span class="name"><b> Last updated:</b> 06 April 2023 </span><br>
            <span class="name"><b> Status:</b> Open </span><br>
            <span class="name"><b> Priority:</b> High </span>
        </div>
     </div>
        </div>           
    </div> 
</div>
 </div>
    </div>    