<app-admin-sidebar></app-admin-sidebar>
<app-admin-top-menu></app-admin-top-menu>  
  
  <div class="content">

    <div class="content-wrapper">
                    <h2><strong>Subscriptions</strong></h2>
            <hr/>
          <div class="row">
            
            <div class="col-13" id="content">
               
              
    
              <div class="container text-left" *ngIf="currentForm === 'form1'">
                    <div class="row">
                      <div >

                        <button class="addButton" (click)="toggleForms('form2')">
                            <img src="../../../assets/images/UserPlus.svg" >                      
                            
                            Add</button></div>
                        <table class="borderless-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Expiry</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Enterprise</td>
                                    <td>10 - 10- 2023</td>
                                    <td class="active-status">Active</td>
                                   
                                    <td>
                                        <button class="edit" routerLink="/edit-subscription">Edit</button>
                                          <button class="cancel">Deactivate</button>
                                    </td>
                                 <tr>
                                    <td>2</td>
                                    <td>Enterprise</td>
                                    <td>10 - 10- 2023</td>
                                    <td class="active-status">Active</td>
                                    <td>
                                      <button class="edit" routerLink="/edit-subscription">Edit</button>
                                        <button class="cancel">Deactivate</button>
                                  </td>
                                     <tr>
                                        <td>3</td>
                                        <td>Enterprise</td>
                                        <td>10 - 10- 2023</td>
                                        <td class="active-status">Active</td>
                                        <td>
                                          <div class="button-container">
                                            <button class="edit" routerLink="/edit-subscription">Edit</button>
                                            <div class="dropdown" [ngClass]="{ 'open': isDropdownOpen[2] }">
                                              <button class="cancel" (click)="toggleDropdown(2)" [disabled]="isConfirmingDeactivation">
                                                <ng-container *ngIf="!isConfirmingDeactivation">{{ buttonText }}</ng-container>
                                                <ng-container *ngIf="isConfirmingDeactivation">
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    
                                                </ng-container>
                                                
                                                </button>
                                            
                                            
                                                <div class="dropdown-content">
                                                    <span>Are you sure you want to <strong>Deactivate?</strong></span>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col">
                                                            <button (click)="confirmDeactivation()">Yes</button>
                                                        </div>
                                                        <div class="col">
                                                            <button (click)="closeDropdown()">No</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--Activate-->
                                                <div class="dropdown-content" *ngIf="buttonText==='Activate'">
                                                  <span>Are you sure you want to <strong>Activate?</strong></span>
                                                  <hr>
                                                  <div class="row">
                                                      <div class="col">
                                                          <button (click)="confirmDeactivation2()">Yes</button>
                                                      </div>
                                                      <div class="col">
                                                          <button (click)="closeDropdown()">No</button>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                      
                                        
                                        </td>
                                      </tr>
                                       </tbody>
                        </table>
                        
                    </div>
                </div>

                <!--Adding Package-->
                <div class="col" *ngIf="currentForm === 'form2'">
                    <div>
                    <h5 class="card-title" id="top">Add subscription</h5>


                </div>

                    <hr/>
                    <form [formGroup]="subscriptionForm" >
               
                      <fieldset>
                          
                    
                        <label for="subscription_name" >Name</label>
                        <input type="text" id="name" name="subscription_name" formControlName="name" placeholder="">
                        <div
                        *ngIf="add_subscriber['name'].invalid && (add_subscriber['name'].dirty || add_subscriber['name'].touched)"
                        class="alert alert-danger"  >
                        <span *ngIf="add_subscriber['name'].errors?.['required']">subscription name is required</span>
                        <span *ngIf="add_subscriber['name'].errors?.['containsNumbers']">Please enter valid Full name</span>
              
                         </div>
              
                         <label for="Price" >Price</label>
                         <input type="text" id="price" name="price" formControlName="price" placeholder="">
                         <div
                         *ngIf="add_subscriber['price'].invalid && (add_subscriber['price'].dirty || add_subscriber['price'].touched)"
                         class="alert alert-danger">
                         <span *ngIf="add_subscriber['price'].errors?.['required']">Price is required</span>
                         <span *ngIf="add_subscriber['price'].errors?.['notANumber']" >Invalid price entered</span>

              
                          </div>
              
                         <label for="Expiry Date" >Expiry Date</label>

                         <div class="dateInput">
                            <input matInput [matDatepicker]="picker" formControlName="expDate" placeholder="Choose a date" style="width: calc(100% - 24px); /* Subtracting the width of the toggler */">
                            <mat-datepicker-toggle matSuffix [for]="picker" style="position: absolute; right: 0;"></mat-datepicker-toggle>
                          </div>
                          <mat-datepicker #picker panelClass="datepickerTwo"></mat-datepicker>
                          <div
                          *ngIf="add_subscriber['expDate'].invalid && (add_subscriber['expDate'].dirty || add_subscriber['expDate'].touched)"
                          class="alert alert-danger" >
                          <span *ngIf="add_subscriber['expDate'].errors?.['required']" >Expiry date is required</span>
                          </div>
              
                          <label for="Expiry Date" >Agents</label>
                         <input type="text" id="Agents" name="Agents" formControlName="agents" placeholder="">
                         <div
                         *ngIf="add_subscriber['agents'].invalid && (add_subscriber['agents'].dirty || add_subscriber['agents'].touched)"
                         class="alert alert-danger" >
                         <span *ngIf="add_subscriber['agents'].errors?.['required']" >Agents is required</span>
                         <span *ngIf="add_subscriber['agents'].errors?.['notANumber']" >Please enter valid number of agents</span>

                          </div>
                      </fieldset>
              
                      <fieldset>
                          <label for="status" class="input-fields">Status</label>
              
                          <select formControlName="status" style="width: 750px;">
                              <option value="active-status" class="option-status"> active </option>
                              <option value="not-active"> active </option>
                              <option value="not-active"> active </option>
                          </select>
              
                          <div
                          *ngIf="add_subscriber['status'].invalid && (add_subscriber['status'].dirty || add_subscriber['status'].touched)"
                          class="alert alert-danger">
                          <span *ngIf="add_subscriber['status'].errors?.['required']">Please select status</span>
                           </div>
                      </fieldset>
                      
                       
                     
                      <button type="submit" class="nextButton" [disabled]="subscriptionForm.invalid">Add Subscription</button>
                      <hr style="width: 750px;">
                  </form>
              
                <button type="submit" class="closeButton" (click)="toggleForms('form1')">Back</button>

                </div>
            </div>

         

        </div>

        </div>
       
          
      </div>

