
<div class="container-fluid" >
  <div class="content-background">
    <div style="display: flex; justify-content: center;">
        <div class="row">
          <div style="margin-top: 50px;">
            <img src="../../../../assets/images/Icon.png" alt="Service Desk" style="text-align: center;">
            <span class="Service-Desk" style="font-weight: bold;"> Service Desk</span>
          </div>
        </div>

      </div>
      <div style="position: relative; height: 75px;"> <!-- Add position relative and height to the parent div -->
        <span style="font-weight: bold; justify-content: center; margin-left: 15%; margin-top: 50px; position: absolute;">Forgot Password</span>
    </div>
      
      <br>
      <div class="row">
        <form [formGroup]="forgetForm" class="col-md-6 mx-auto">
          <div class="form-group">

            <input type="email"  id="email" formControlName="email" placeholder="Email Address">
            <div
            *ngIf="forgot['email'].invalid && (forgot['email'].dirty || forgot['email'].touched)"
            class="alert alert-danger">
            <span *ngIf="forgot['email'].errors?.['required']" style="color:#f98f8f">Email is required</span>
            <span *ngIf="forgot['email'].errors?.['email']" style="color:#f98f8f">Please enter valid email</span>
             </div>
        </div>
        
        
    
        <button [disabled]="forgetForm.invalid || showSpinner" type="submit"
        class="btn btn-primary btn-user btn-block mb-3" style="height: 45px;"
        (click)="passwordReset()">
           <span *ngIf="showSpinner" class="spinner" role="status" aria-hidden="true"></span>
           <span *ngIf="!showSpinner">Forgot password</span>
         </button>
          <div class="text-left">
              <span style="color: grey">Already have an account? <a routerLink="/admin-login"  style="color:#54BEB8;text-decoration: none;">Login</a>
              </span>
          </div>

                
        </form>
      
      </div>
</div>
</div>









