<app-sidebar></app-sidebar>
<app-top-menu></app-top-menu>

<div class="content">


  <div class="content-wrapper">    <div class="row">
      <!-- Left section -->
      <div style="display: flex;">
        <h2><strong>Ticket</strong></h2>
        <!-- <button class="backButton" onclick="window.history.back()">Back</button>
        <button class="closeButton" (click)="navigateToDestination()">Close</button> -->
      </div>
      <hr>
      <div class="col-8">
        
        <!-- Main card -->
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <!-- Top section inside main card -->
            <div style="display: flex; margin-bottom: 20px;">
              <h3><strong>Cannot access the system</strong></h3>
              <div style="display: flex; margin-left: auto;">
                <p class="form-header badge badge-secondary" id="ticketID">#1E233</p>
                <p class="form-header badge badge-danger" id="priorityID">Urgent</p>
                <p class="form-header badge badge-success" id="statusID">Open</p>
              </div>
            </div>
            <!-- <hr/> -->
            <!-- Message body -->
            <div class="message-body">
              <span style="color: white;">Life seasons open have. Air have of. Lights fill after let third darkness replenish fruitful let. Wherein set image. Creepeth said above gathered bring.</span>
            </div>
            <!-- Reply section -->
            <p>Katherine <span class="form-header">Today, 11:30 PM</span></p>
            <div class="replied">
              <span style="color: #202020;">Life seasons open have. Air have of.</span>
            </div>
            <!-- <p>John <span class="form-header">Today, 11:30 PM</span></p> -->
            <!-- Message input section -->
            <div class="message-input">
              <input placeholder="Write your response for the issue" class="text-class"/>
              <div style="display: flex; margin-top: 20px;">
                <div>
                  <!-- Hidden file input -->
                  <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)"/>
                </div>
                <button type="button" class="attachButton" type="file" (click)="fileInput.click()">
                  <img src="../../../assets/images/Vector (Stroke).svg" width="17px" height="17px" style="margin-right: 15px;"/>
                  Attach
                </button>
                <button class="nextButton">Send</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Bottom section card -->
        
      </div>
      <!-- Right section card -->
      <div class="col">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <!-- Ticket info -->
            <div class="row">
              <h6>Ticket Info</h6>

              <div class="col">
              <p class="form-header">Ticket Id: <span id="ticketID" class="form-header badge badge-secondary">#1E233</span></p>
              <p class="form-header">Created : <span>dd - mm - yyyy</span></p>
              <p class="form-header">Status: <span class="form-header badge badge-success" id="statusID">Open</span></p>
              <p class="form-header">Priority: <span class="form-header badge badge-danger" id="priorityID">Urgent</span></p>
            </div>
            
              <hr/>
            </div>
          </div>
        </div>
        <div class="card" style="width: 100%;margin-top:10px;">
          <div class="card-body">
            <h6>Recent activities</h6>
            <p>John closed "How do I reset my password" <br/> <span class="form-header">14 Nov 2022, 5:26 PM</span> </p>
          </div>
        </div>
      </div>

    </div>
    <button class="closeButton" routerLink="/company-tickets">Back</button>

  </div>

</div>
