
<div class="container-fluid" >
    <div class="content-background">
      <div style="display: flex; justify-content: center;">
          <div class="row">
            <div style="margin-top: 50px;">
              <img src="../../../../assets/images/Icon.png" alt="Service Desk" style="text-align: center;">
              <span class="Service-Desk" style="font-weight: bold;"> Service Desk</span>
            </div>
          </div>
  
        </div>
        <div style="position: relative; height: 75px;"> <!-- Add position relative and height to the parent div -->
          <span style="font-weight: bold; justify-content: center; margin-left: 15%; margin-top: 50px; position: absolute;">Login</span>
      </div>
        
        <br>
        <div class="row">
          <form [formGroup]="loginForm" class="col-md-6 mx-auto">
            <div class="form-group">
  
              <input type="email" class="" id="email" formControlName="email" placeholder="Email Address">
              <div
              *ngIf="login['email'].invalid && (login['email'].dirty || login['email'].touched)"
              class="alert alert-danger">
              <span *ngIf="login['email'].errors?.['required']" style="color:#f98f8f">Email is required</span>
              <span *ngIf="login['email'].errors?.['email']" style="color:#f98f8f">Please enter valid email</span>
               </div>
          </div>
            <div class="form-group">
              <input type="password" class="" formControlName="password" placeholder="Password">
                          <div
                          *ngIf="login['password'].invalid && (login['password'].dirty || login['password'].touched)"
                          >
                          <div *ngIf="login['password'].errors?.['required']" class="alert alert-danger" style="color:#f98f8f">Password is required</div>
                          <div *ngIf="login['password'].errors?.['minlength']" class="alert alert-danger" style="color:#f98f8f">Password must be at least 8 characters long.</div>
                          <div *ngIf="login['password'].errors?.['maxlength']" class="alert alert-danger" style="color:#f98f8f">Password must be less then 12 characters long.</div>
  
                          </div>
           
         </div>
          
      
          
         <button [disabled]="loginForm.invalid || showSpinner" type="submit"
         class="btn btn-primary btn-user btn-block mb-3" style="height: 45px;"
         (click)="signIn()">
            <span *ngIf="showSpinner" class="spinner" role="status" aria-hidden="true"></span>
            <span *ngIf="!showSpinner">Sign In</span>
          </button>
                  <div class="text-left">
                    <span style="color: grey"><a routerLink="/admin-password"  style="color:#54BEB8;text-decoration: none;">Forgot password? </a>
                    </span>
                </div>
                 
                  
          </form>
        </div>
  </div>
  </div>
  
  
  
  
  
  
  
