<div class="sidebar" style="font-family: Poppins;">
  <div class="logo">
        <img src="../../../assets/images/Icon.png" alt="Logo"> 
        <p class="menuHeader">Service Desk</p>
      </div>
    
      <ul>

        <li routerLinkActive="active">
          <a routerLink="/admin-dashboard" class="menuItems">
          <img src="../../../assets/images/tickets.svg" width = "25px" height="25px"  class="menuImages">Dashboard</a></li>
          <li routerLinkActive="active">

          <a routerLink="/admin-users" class="menuItems"><img src="../../../assets/images/Headset.svg" width = "25px" height="25px"  class="menuImages">Users</a></li>
          <li routerLinkActive="active">

          <a routerLink="/admin-subscriptions" class="menuItems"><img src="../../../assets/images/Subscriptions.svg" width = "25px" height="25px"  class="menuImages">Subscriptions</a></li>
          <li routerLinkActive="active">

          <a routerLink="/admin-settings" class="menuItems"><img src="../../../assets/images/Gear.svg" width = "25px" height="25px"  class="menuImages">Settings</a></li>
  
        <li><a routerLink="/admin-login" class="logout"><img src="../../../assets/images/Vector.svg" width = "25px" height="25px"  class="menuImages">Logout</a></li>
  
      </ul>
  </div>