<div class="container-fluid px-4">
    <h1 class="mt-4"> Dashboard </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard </li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow border-0 bg-primary text-white">
                <div class="card-body  ">
                    <div class="row ">
                        <div class="col"> 
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2">Tickets Logged </span> 
                            <span class="h3 font-bold mb-0">300</span> 
                        </div>
                        <div class="col-auto">
                            <div class="badge bg-primary text-white text-lg rounded-circle"> 
                            <i class="bi bi-credit-card"></i> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow border-0 bg-danger text-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col"> <span class="h6 font-semibold text-muted text-sm d-block mb-2"> New Tickets </span>
                             <span class="h3 font-bold mb-0">5</span> 
                        </div>
                        <div class="col-auto">
                            <div class="badge bg-danger text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow border-0 bg-success text-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col"> 
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2"> Closed Tickets </span>
                            <span class="h3 font-bold mb-0">292</span> </div>
                        <div class="col-auto">
                            <div class="badge bg-success text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card shadow border-0 bg-warning text-white">
                <div class="card-body">
                    <div class="row">
                        <div class="col"> 
                            <span class="h6 font-semibold text-muted text-sm d-block mb-2"> Escaleted Tickets </span>
                            <span class="h3 font-bold mb-0">3</span> </div>
                        <div class="col-auto">
                            <div class="badge bg-warning text-white text-lg rounded-circle"> <i class="bi bi-credit-card"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i> Statistics of the Month 
                </div>
                <div class="card-body">
                    <div>
                        <canvas id="myAreaChart" width="50%" height="40"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>Statistics of the Month
                </div>
                <div class="card-body">
                    <canvas id="myBarChart" width="50%" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table me-1"></i> Tickets of the Month </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table table-hover table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col"> Ticket Ref </th>
                            <th scope="col"> Date </th>
                            <th scope="col"> Subject </th>
                            <th scope="col"> Category </th>
                            <th scope="col"> Assigned Agent </th>
                            <th scope="col"> Status </th>
                            <th scope="col"> Action </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> #7654 </td>
                            <td> Feb 15, 2021 </td>
                            <td> Microsoft Teams Not functioning </td>
                            <td> Software </td>
                            <td> Charles S.A </td>
                            <td> <span class="badge rounded-pill bg-warning"> <i class="bg-warning"></i>Escalated</span></td>
                            <td class="text-end"> <a href="#"  (click)="viewTicket()"class="btn btn-sm btn-neutral">View</a> 
                                <button type="button" (click)="deleteTicket()" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i> 
                                </button>
                            </td>
                        </tr>
                        <tr> 
                            <td> #45622 </td>
                            <td> Apr 10, 2023 </td>
                            <td> Computer is slow </td>
                            <td> Hardware </td>
                            <td> Mbatha A </td>
                            <td> <span class="badge rounded-pill bg-success"> <i class="bg-success"></i> Closed</span></td>
                            <td class="text-end"> <a href="#" (click)="viewTicket()"class="btn btn-sm btn-neutral">View</a> 
                                <button type="button" (click)="deleteTicket()" class="btn btn-sm btn-square btn-neutral text-danger-hover"><i class="bi bi-trash"></i> 
                                </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 
