

<app-employee-sidebar></app-employee-sidebar>
<app-top-menu></app-top-menu>

<div class="content">
  

  <div class="content-wrapper">
    <div class="row">
      <h2><strong>Tickets</strong></h2>
      <hr>
      
      <!-- Column for Dynamic Content -->

      <div class="col-md-9">
        <div class="top-menu2">
          <nav>
            <ul style="display: flex; align-items: center;">
              <li style="margin-right: 10px;" [class.active]="currentForm === 'unresolved'">
                <a (click)="toggleForms('unresolved')" routerLink="#">Unresolved</a>
              </li>
              <li style="margin-right: 10px;" [class.active]="currentForm === 'inprogress'">
                <a (click)="toggleForms('inprogress')" routerLink="#">In Progress</a>
              </li>
              <li style="margin-right: 10px;" [class.active]="currentForm === 'resolved'">
                <a (click)="toggleForms('resolved')" routerLink="#">Resolved</a>
              </li>
        <div class="search-input">
          <li style="margin-right: 20px;">
            <input type="text" placeholder="Search tickets" style="padding-left: 50px;">
                <label for="search" class="search-icon">
                  <img src="../../assets/images/search.svg" alt="Search Icon">
              </label>
              </li>
         </div>
                <div class="dropdown">
              <li><button class="filterButton" (click)="toggleDropdown()">
                <img src="../../../assets/images/filter.svg"  > 
                Filter</button>

                <div class="dropdown-content" [class.show]="showDropdown">
                  <p><strong>Filters</strong></p>
                
                 <select id="priority" name="" (click)="stopPropagation($event)">
                    <option value="Type 1">Choose Priority</option>
                    <option value="Type 1">Type A</option>
                    <option value="Type 2">Type B</option>
                  </select>

                  <select id="status" name="" (click)="stopPropagation($event)">
                    <option value="Type 1">Choose status</option>
                    <option value="Type 1">Type A</option>
                    <option value="Type 2">Type B</option>
                  </select>

                  <!-- Start Date Input -->
                  <div class="dateInput">
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Choose start date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker" class="date-picker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker panelClass="datepickerTwo"></mat-datepicker>
                  </div>

                  <!-- End Date Input -->
                  <div class="dateInput">
                    <input matInput [matDatepicker]="endDatePicker" placeholder="Choose end date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker" class="date-picker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker panelClass="datepickerTwo"></mat-datepicker>
                  </div>

        <button class="nextButton" (click)="applyFilters()">Apply Filters</button>    
                </div>

              
              </li>
              </div>
              
            </ul>
          </nav>
        </div>
        <!-- Dynamic Content Section -->
       

        <!--Unresolved Tickets-->
        <div class="row" *ngIf="currentForm === 'unresolved'" >

        <div *ngFor="let item of dataArray" style="margin-bottom: 20px;">
          <div class="card" style="width: 100%;">
            <div class="card-header">
              <!--Ticket Header-->
              <span class="ticket-header">{{item.category}}</span>
              <span class="form-header">

                <!--Ticket Date & View details-->
                {{(item.createdAt).substring(16,-11)}} | <a routerLink="/ticket-details">View</a>
              </span>
            </div>
            <!--Ticket Message-->
            <div class="ticket-message">
              <span class="">{{item.description}}</span>
            </div>
            
            <!--Ticket ID and Priority-->
            <div class="urgent-section">
              <span class="form-header badge badge-danger" id="priorityID">{{item.priority}}</span>
              <span id="ticketID" class="form-header badge badge-secondary">{{item.ticketId}}</span>
            </div>
          </div>
        </div>

        

      </div>

      
        <!--InProgress Tickets-->
        <div class="row" *ngIf="currentForm === 'inprogress'" >

          <div style="margin-bottom: 20px;">
            <div class="card" style="width: 100%;">
              <div class="card-header">
                <!--Ticket Header-->
                <span class="ticket-header">Cannot access my system</span>
                <span class="form-header">
  
                  <!--Ticket Date & View details-->
                  07 - MAR | <a routerLink="/ticket-details">View</a>
                </span>
              </div>
              <!--Ticket Message-->
              <div class="ticket-message">
                <span class="">Life seasons open have. Air have of. Lights fill after let third darkness replenish fruitful let. Wherein set image. Creepeth said above gathered bring.</span>
              </div>
              
              <!--Ticket ID and Priority-->
              <div class="urgent-section">
                <span class="form-header badge badge-danger" id="priorityID">Urgent</span>
                <span id="ticketID" class="form-header badge badge-secondary">#1E233</span>
              </div>
            </div>
          </div>
  
          <div style="margin-bottom: 20px;">
            
            <div class="card">
              <div class="card-header">
                 <!--Ticket Header-->
  
                <span class="ticket-header">Cannot access my system</span>
                <span class="form-header">
                  <!--Ticket Date & View details-->
                  07 - MAR | <a routerLink="/ticket-details">View</a>
                </span>
              </div>
  
              <!--Ticket Message-->
              <div class="ticket-message">
                <span class="">Life seasons open have. Air have of. Lights fill after let third darkness replenish fruitful let. Wherein set image. Creepeth said above gathered bring.</span>
              </div>
  
               <!--Ticket ID and Priority-->
              <div class="urgent-section">
                <span class="form-header badge badge-danger" id="priorityID">Urgent</span>
                <span id="ticketID" class="form-header badge badge-secondary">#1E233</span>
              </div>
            </div>
          </div>
  
        </div>

        
        <!--Resolved Tickets-->
        <div class="row" *ngIf="currentForm === 'resolved'" >

          <div style="margin-bottom: 20px;">
            <div class="card" style="width: 100%;">
              <div class="card-header">
                <!--Ticket Header-->
                <span class="ticket-header">Cannot access my system</span>
                <span class="form-header">
  
                  <!--Ticket Date & View details-->
                  07 - MAR | <a routerLink="/ticket-details">View</a>
                </span>
              </div>
              <!--Ticket Message-->
              <div class="ticket-message">
                <span class="">Life seasons open have. Air have of. Lights fill after let third darkness replenish fruitful let. Wherein set image. Creepeth said above gathered bring.</span>
              </div>
              
              <!--Ticket ID and Priority-->
              <div class="urgent-section">
                <span class="form-header badge badge-danger" id="priorityID">Urgent</span>
                <span id="ticketID" class="form-header badge badge-secondary">#1E233</span>
              </div>
            </div>
          </div>
  
          <div style="margin-bottom: 20px;">
            
            <div class="card">
              <div class="card-header">
                 <!--Ticket Header-->
  
                <span class="ticket-header">Cannot access my system</span>
                <span class="form-header">
                  <!--Ticket Date & View details-->
                  07 - MAR | <a routerLink="/ticket-details">View</a>
                </span>
              </div>
  
              <!--Ticket Message-->
              <div class="ticket-message">
                <span class="">Life seasons open have. Air have of. Lights fill after let third darkness replenish fruitful let. Wherein set image. Creepeth said above gathered bring.</span>
              </div>
  
               <!--Ticket ID and Priority-->
              <div class="urgent-section">
                <span class="form-header badge badge-danger" id="priorityID">Urgent</span>
                <span id="ticketID" class="form-header badge badge-secondary">#1E233</span>
              </div>
            </div>
          </div>
  
        </div>

      </div>
      <div class="col-2">
        
        <form [formGroup]="ticketForm" (ngSubmit)="createTicket()">
          <span class="header"><strong>Create Quick Ticket</strong></span><br>
          <span class="form-header">Write and address new queries and issues</span>
          <hr/>
          
            
          <fieldset>
            <label>Request Ticket Type</label>
            <select id="type" name="" formControlName="type">
              <option value="Default">Choose Type</option>
              <option value="Type 1">Type A</option>
              <option value="Type 2">Type B</option>
            </select>

            <!--Validations-->
            <div
            *ngIf="new_ticket['type'].invalid && (new_ticket['type'].dirty || new_ticket['type'].touched)"
            class="alert alert-danger" >  
            <span *ngIf="new_ticket['type'].errors?.['required']" style="color:#f98f8f">Please select ticket type</span>
            </div>
             <!--End Of Validations-->

            <label>Priority Status</label>
            <select id="status" name="" formControlName="priority_status">
              <option value="Default">Select Status</option>
               <option value="Type 1">Type A</option>
              <option value="Type 2">Type B</option>
            </select>

             <!--Validations-->
             <div
             *ngIf="new_ticket['priority_status'].invalid && (new_ticket['priority_status'].dirty || new_ticket['priority_status'].touched)"
             class="alert alert-danger" >  
             <span *ngIf="new_ticket['priority_status'].errors?.['required']" style="color:#f98f8f">Please choose status</span>
             </div>
              <!--End Of Validations-->

          </fieldset>
          <fieldset>
            <label>Ticket Body</label>
            <textarea formControlName="ticketBody" id="ticketbody" placeholder="Type ticket issue here.."></textarea>

            <!--Validations-->
            <div
            *ngIf="new_ticket['ticketBody'].invalid && (new_ticket['ticketBody'].dirty || new_ticket['ticketBody'].touched)"
            class="alert alert-danger" >  
            <span *ngIf="new_ticket['ticketBody'].errors?.['required']" style="color:#f98f8f">Ticket issue is required</span>
            </div>
             <!--End Of Validations-->

          </fieldset>
          <button type="submit">Submit</button>
        </form>
      </div>

     </div>
  </div>
</div>
